/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/*  */

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* keep the unread bar which is removed in nvhhr's bordercleanup */
#---new-messages-bar[class^=divider_][class*=hasContent_] /*chat day separator*/ {
    border-top: thin solid var(--divider-color) !important;
    justify-content: center !important;
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* LIGHTER COLOUR */
/* code blocks */
[class^=markup_] code,
/* friends list activity cards */
[class^=nowPlayingColumn_] [class^=itemCard_],
/* lighter title bar */
[class^=typeWindows_][class*=withFrame][class*=titleBar_][class*=withBackgroundOverride_],
/* hover highlight on vc buttons */
[class^=actionButtons_] [aria-label="Turn On Camera"]:hover,
[class^=actionButtons_] [aria-label="Share Your Screen"]:hover,
[class^=actionButtons_] [aria-label="Open Soundboard"]:hover,
[class^=actionButtons_] [aria-label="Start an Activity"]:hover,
/* lighter channel hover highlight */
#channels [class^=iconVisibility_]:hover [role=link],
/* highlight message container on hover */
[data-list-item-id^="chat-messages"]:hover {
  background-color: var(--background-modifier-selected) !important;
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* set solid background colour */
:root {
	--background-custom-solid: hsl(0, 0%, 5%);
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* background for server header popout */
#guild-header-popout {
	background-color: var(--background-custom-solid);
	border-radius: 5px;
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* search bar */
[class^=chat_] [class^=searchBar_] {
	background-color: var(--background-modifier-selected);
	border-radius: 5px;
}
[class^=chat_] [class^=searchBar_] svg {
	color: var(--interactive-normal);
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* spoiler */
.theme-dark {
  --__spoiler-background-color--hidden: var(--background-modifier-selected);
  --__spoiler-background-color--hidden--hover: hsl(0, 0%, 6%);
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* scrollbars */
:root {
 --scrollbar-auto-thumb: var(--background-modifier-selected);
 --scrollbar-auto-track: transparent;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* use theme colours in 'channels & roles' menu */
[class^=base_] > [class^=content_] > [class^=chat_] > [class^=header_] > [class^=upperContainer_] > [class*=innerHeader_]::after, /* little gradient thing */
[class^=base_] > [class^=content_] > [class^=chat_]:has(> [class^=header_]) [class^=header_], /* header background */
[class^=base_] > [class^=content_] > [class^=chat_]:has(> [class^=header_]) [class^=content_], /* background */
[class^=base_] > [class^=content_] > [class^=chat_]:has(> [class^=header_]) [class^=chat_] /* menu background */ {
  background: transparent;
}
