/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove little shadow above channels column */
[class^=sidebar_] > [class^=container_] > [class^=container_][class*=clickable_] > [class^=header_] {
    box-shadow: none;
}
/* re-colour chat header to match channels column */
[class^=chat_] > [class^=subtitleContainer_] > [class^=title_] {
    background: var(--bg-overlay-chat, var(--background-secondary));
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* LIGHTER COLOUR */
/* code blocks */
[class^=markup_] code,
/* friends list activity cards on hover */
[class^=nowPlayingColumn_] [class^=itemCard_]:hover,
/* hover highlight on vc buttons */
[class^=actionButtons_] [aria-label="Turn On Camera"]:hover,
[class^=actionButtons_] [aria-label="Share Your Screen"]:hover,
[class^=actionButtons_] [aria-label="Open Soundboard"]:hover,
[class^=actionButtons_] [aria-label="Start An Activity"]:hover,
/* lighter channel hover highlight */
#channels [class^=iconVisibility_]:hover [role=link],
/* highlight message container on hover */
[data-list-item-id^="chat-messages"]:hover {
  background-color: var(--background-modifier-selected) !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* search bar */
[class^=chat_] [class^=searchBar_] {
	background-color: var(--background-modifier-selected);
	border-radius: 5px;
}
[class^=chat_] [class^=searchBar_] svg {
	color: var(--interactive-normal);
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* scrollbars */
:root {
 --scrollbar-auto-thumb: var(--background-modifier-selected);
 --scrollbar-auto-track: transparent;
}
