/* HIDE */
/* sticker button in message bar */
.expression-picker-chat-input-button:has(> button > [class*=stickerButton_]),
/* little gradient in channel header */
[class^=chat_] > [class^=subtitleContainer_] > [class^=title_] [class^=children_]::after,
/* shadow above chat & memberlist */
[class^=chat_] > [class^=content_]:before,
/* quest icon in activity */
[class^=activity_] [class^=questsIcon_],
/* quest popout on clicking a user in memberlist with a quest icon in activity */
[id^=popout_]:has([class^=top_] > [class^=left_] > h2):has([class^=top_] > [class^=right_] > [class^=imgWrapper_]),
/* arrow on voice & video shortcut */
#user-settings-cog-Voice___Video [class^=iconContainer_],
/* popup on voice & video shortcut */
#user-settings-cog-Voice___Video + .theme-dark[class*=layer_],
/* user settings cog shortcuts except listed below */
[id^=user-settings-cog-]:not([id^=user-settings-cog-Vencord],
#user-settings-cog-My_Account,
#user-settings-cog-Profile_Customization,
#user-settings-cog-Voice___Video,
[id^=user-settings-cog-Experiments]),
/* emoji skin color picker */
#emoji-picker-tab-panel [class^=diversitySelector_],
/* separator in status picker */
[class^=submenu_] [id^=status] + [class^=separator_],
/* descriptions in status picker */
[class^=statusItem_] > [class^=description_],
/* store button on bot profiles */
[class^=user] button:has([class^=storeBtn_]),
/* vencord custom badges */
[class^=tags_] > [class^=container_] > [aria-label]:has(> a > [style="border-radius: 50%; transform: scale(0.9);"]),
/* social links in settings */
nav > [role=tablist] > [class^=socialLinks_],
/* hypesquad settings */
[data-tab-id^="Hypesquad"],
/* extra experiment settings */
[data-tab-id="Text Component"],
[data-tab-id="Text Playground"],
[data-tab-id="Payment Flow Modals"],
[data-tab-id="Dismissible Content Options"],
[data-tab-id="Hotspot Options"],
[data-tab-id="Developer Options"],
[data-tab-id="Profile Effects Preview Tool"],
[data-tab-id="Design System"],
/* server banner */
[class*=animatedContainer_]:has([class*=bannerImage_]),
/* server banner spacer clickable*/
[class*=animatedBannerHoverLayer_],
/* server banner spacer */
[style="height: 84px;"],
/* server header popout divider */
#guild-header-popout [class^=separator_],
/* create invite on channels */
#channels [class^=iconItem_][aria-label*="Invite"],
/* server guide */
#channels > ul > li:has([id^="home-tab-"]),
/* create thread suggestion */
[class^="threadSuggestionBar"],
/* translate button in message bar (translate plugin) */
[class^=buttons_] > [class^=expression-picker-chat-input-button]:has([aria-label="Open Translate Modal"]),
/* user context menu: call */
#user-context-call,
/* user context menu: add friend nickname */
#user-context-add-friend-nickname,
/* dividers in channel column */
#channels [class^=sectionDivider_],
/* help button */
[href="https://support.discord.com"],
/* inbox button when no notifs */
[class^=recentsIcon_]:not(:has([class^=iconBadge_],[class*=recentMentionsPopout_])),
/* separator in channel actions popout */
#channel-context [class^=separator_],
/* separator in message actions popout */
#message [class^=separator_],
#message-actions [class^=separator_],
/* speak message */
#message-tts,
#message-actions-tts,
/* message id in shift msg actions */
[aria-label="Message Actions"] [aria-label="Copy Message ID"],
/* mark unread */
#message-actions-mark-unread,
#message-mark-unread,
[aria-label="Mark Unread"],
/* badge api in vc toolbox */
#vc-toolbox [aria-label="BadgeAPI"],
/* separator in vc toolbox */
#vc-toolbox [class^=separator_],
/*"welcome to channel" thing - unhidden when channel is empty */
[class^=chatContent_] [class^=container_]:has([class^=emptyChannelIcon_], [class^=inner_] h3):has(+ [class^=divider_]),
/* family center in settings */
[aria-label="Family Center"],
/* discoverable servers */
[data-list-id=guildsnav] > [class^=scroller_] > [class^=listItem_]:has([data-list-item-id=guildsnav___guild-discover-button]),
/* events */
#channels [class^=containerDefault_]:has(> [data-list-item-id^="channels___upcoming-events"]),
/* member count in server icon hover */
.vc-membercount-tooltip,
/* "Get started" */
#channels [class^=progressBarContainer_]:has([style="background-color: var(--background-modifier-active);"]),
/* "Next: read x" */
[class^=chatContent_] [class^=container_]:has([class^=banner_]),
/* remove obnoxious "new emoji" stuff */
#emoji-picker-tab-panel :is([class^=badgeLabel_][class*=topGuildEmojiBadge_],[class^=newlyAddedBadge]),
/* shortcut for "Top Emojis In Server" */
#emoji-picker-tab-panel [class^=listItems] [class^=categoryItemDefaultCategory_][aria-label="top guild emoji"],
/* user context menu: add note */
#user-context-note,
/* notes */
[aria-label*="Note"],
[class^=note_],
/* notes header */
[class^=section_]:has(> [class^=note_]),
/* notification settings in channel header */
[aria-label="Notification Settings"] {
  display: none !important;
}
/* REMOVE BORDER */
/* newly added emojis highlight */
#emoji-picker-tab-panel [class^=newlyAddedHighlight] {
    border: none;
}
