/* HIDE */
/* user settings cog shortcuts except listed below */
[id^=user-settings-cog-]:not([id^=user-settings-cog-Vencord],
#user-settings-cog-My_Account,
#user-settings-cog-Profile_Customization,
#user-settings-cog-Voice___Video,
[id^=user-settings-cog-Experiments]),
/* emoji skin color picker */
#emoji-picker-tab-panel [class^=diversitySelector_],
/* separator in status picker */
#account[class^=menu_] [class^=submenu_] [class^=separator_],
/* descriptions in status picker */
[class^=statusItem_] > [class^=description_],
/* store button on bot profiles */
button:has([class^=storeBtn_]),
/* vencord custom badges */
[aria-label="User Badges"] a:has([style="border-radius: 50%; transform: scale(0.9);"]),
/* social links in settings */
nav > [role=tablist] > [class^=socialLinks_],
/* hypesquad settings */
[data-tab-id^="Hypesquad"],
/* extra experiment settings */
[data-tab-id="Text Component"],
[data-tab-id="Text Playground"],
[data-tab-id="Payment Flow Modals"],
[data-tab-id="Dismissible Content Options"],
[data-tab-id="Hotspot Options"],
[data-tab-id="Developer Options"],
[data-tab-id="Profile Effects Preview Tool"],
/* server banner */
[class*=animatedContainer_]:has([class*=bannerImage_]),
/* server banner spacer clickable*/
[class*=animatedBannerHoverLayer_],
/* server banner spacer */
[style="height: 84px;"],
/* server header popout divider */
#guild-header-popout [class^=separator_],
/* create invite on channels */
#channels [class^=iconItem_][aria-label*="Invite"],
/* server guide */
[data-list-item-id^="channels___home-tab-"],
/* create thread suggestion */
[class^="threadSuggestionBar"],
/* translate button in message bar (translate plugin) */
[class^=buttons_] > [class^=expression-picker-chat-input-button]:has([aria-label="Open Translate Modal"]),
/* user context menu: call */
#user-context-call,
/* user context menu: add friend nickname */
#user-context-add-friend-nickname,
/* dividers in channel column */
#channels [class^=sectionDivider_],
/* help button */
[href="https://support.discord.com"],
/* inbox button when no notifs */
[class^=recentsIcon_]:not(:has([class^=iconBadge_], [class*=recentMentionsPopout_])),
/* separator in channel actions popout */
#channel-context [class^=separator_],
/* separator in message actions popout */
#message-actions [class^=separator_],
/* speak message */
#message-tts,
#message-actions-tts,
/* message id in shift msg actions */
[aria-label="Message Actions"] [aria-label="Copy Message ID"],
/* mark unread */
#message-actions-mark-unread,
#message-mark-unread,
[aria-label="Mark Unread"],
/* quickcss toggle in vc toolbox
#vc-toolbox-vc-toolbox-quickcss-toggle, */
/* badge api in vc toolbox */
#vc-toolbox [aria-label="BadgeAPI"],
/* separator in vc toolbox */
#vc-toolbox [class^=separator_],
/*"welcome to channel" thing */
[class^=chatContent_] [class^=container_]:has([class^=emptyChannelIcon_], [class^=inner_]),
/* family center */
[aria-label="Family Center"],
/* discoverable servers */
[data-list-id="guildsnav"]>[class^=scroller_]>[class^=listItem_]:has([aria-label*=Discoverable]),
/* events */
#channels [class^=containerDefault_]:has(> [data-list-item-id^="channels___upcoming-events"]),
/* member count in server icon hover */
.vc-membercount-tooltip,
/* "Get started" */
#channels [class^=progressBarContainer_]:has([style="background-color: var(--background-modifier-active);"]),
/* "Next: read x" */
[class^=chatContent_] [class^=container_]:has([class^=banner_]),
/* mini mutuals */
[class^=mainContainer_][class*=profileMutuals_],
/* shortcut for "Top Emojis In X" */
#emoji-picker-tab-panel [data-list-item-id=NO_LIST___expression-guild-0],
/* remove obnoxious "new emote" stuff */
#emoji-picker-tab-panel :is([class^=badgeLabel_], [class^=newlyAddedBadge]),
/* "Top Emojis In X" */
#emoji-picker-tab-panel [class^=categorySection_]:has([d="M6.278 3.00098H3C2.447 3.00098 2 3.44898 2 4.00098V8.00098C2 8.30498 2.139 8.59298 2.375 8.78198L7.304 12.724C8.206 13.86 9.51 14.659 11 14.911V16.001H9C8.447 16.001 8 16.449 8 17.001V20.001H7.5C7.22386 20.001 7 20.2248 7 20.501V21.501C7 21.7771 7.22386 22.001 7.5 22.001H16.5C16.7761 22.001 17 21.7771 17 21.501V20.501C17 20.2248 16.7761 20.001 16.5 20.001H16V17.001C16 16.449 15.553 16.001 15 16.001H13V14.911C14.49 14.659 15.794 13.86 16.696 12.724L21.625 8.78198C21.861 8.59298 22 8.30498 22 8.00098V4.00098C22 3.44898 21.553 3.00098 21 3.00098H17.722C17.375 2.40598 16.737 2.00098 16 2.00098H8C7.262 2.00098 6.625 2.40598 6.278 3.00098ZM20 5.00098V7.52098L17.994 9.12598C17.994 9.10435 17.9955 9.08348 17.997 9.06274C17.9985 9.04224 18 9.02185 18 9.00098V5.00098H20ZM6.006 9.12698L4 7.52098V5.00098H6V9.00098C6 9.02173 6.00147 9.042 6.00295 9.0625C6.00447 9.08349 6.006 9.10472 6.006 9.12698Z"]),
/* user context menu: add note */
#user-context-note,
/* notes */
[class^=note_],
/* notes header in user popout & profile panel*/
[class^=section_]:has(> [class^=note_]),
/* notes header in user profile modal*/
[class^=userProfileModal] [class^=userInfoSection_]>h1:has(+ [class^=note_]),
/* divider before notes in profile panel */
[class^=profilePanel_] [class^=divider]:has(+ [class^=section_] > [class^=note_]),
/* notification settings in channel header */
[aria-label="Notification Settings"] {
  display: none !important;
}
