/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* consistent chat bar */
[class^=chat_] > [class^=content_] > [class^=chatContent_] {
    /* move up jump to present bar when typing or slow mode so no overlap */
    &:has(> [class^=form_] > [class^=typing_]) > [class^=messagesWrapper_] > [class^=jumpToPresentBar_] {
        padding-bottom: 32px;
    }
    /* jump to present bar consistent dimensions */
    > [class^=messagesWrapper_] > [class^=jumpToPresentBar_] {
        border-radius: 0%;
        opacity: 1;
        left: 0;
        right: 0;        
    }
    > [class^=form_] {
        /* take up full width */
        padding: 0;
        > [class^=channelBottomBarArea_] > [class^=channelTextArea_] {
            /* move chat bar to bottom */
            margin-bottom: 0;
            > [class^=scrollableContainer_] {
                /* sharp corners */
                border-radius: 0;
                /* consistent height */
                min-height: 53px;
                > [class^=inner_] {
                    /* consistent height */
                    padding-top: 4px;
                    min-height: 49px;
                }
            }
        }
        /* slowmode/typing indicator consistent dimensions */
        [class^=typing_] {
            top: -24px;
            left: 0;
            right: 0;
            background-color: var(--background-secondary);
            /* move slowmode indicator back to default location */
            [class^=cooldownWrapper_] {
                margin-right: 16px;
            }
        }
    }
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* always neutral folder background */
[data-list-id=guildsnav] [class*=FolderIconWrapper_] {
    background-color: #313338 !important;
}
/* neutral "add a server"/"discover servers" button */
[data-list-id=guildsnav] [class^=circleIconButton_] {
    color: #848484 !important;
    background-color: #313338 !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove folder animation */
[class*=FolderIconWrapper_] {
    transform: none !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove little shadow above channels column */
[class^=sidebar_] > [class^=container_] > [class^=container_][class*=clickable_] > [class^=header_] {
    box-shadow: none;
}
/* re-colour chat header to match channels column */
[class^=chat_] > [class^=subtitleContainer_] > [class^=title_] {
    background: var(--bg-overlay-chat, var(--background-secondary));
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* LIGHTER COLOUR */
/* friends list activity cards on hover */
[class^=nowPlayingColumn_] > aside > div > [class^=itemCard_]:hover,
/* lighter channel hover highlight */
#channels > ul > li a:hover,
/* highlight message container on hover */
[data-list-id=chat-messages] > li:hover {
  background-color: var(--background-modifier-selected) !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* lighter scrollbars */
:root {
 --scrollbar-auto-thumb: var(--background-modifier-selected);
 --scrollbar-auto-track: transparent;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* keep chat bars which are removed in nvhhr's bordercleanup */
[data-list-id=chat-messages] {
    /* unread bar */
    > #---new-messages-bar[class^=divider_][class*=isUnread_] {
    border-top: thin solid var(--divider-color) !important;
    justify-content: center !important;
    }
    /* day separator */
    > [class^=divider_][class*=hasContent_][aria-label] {
    border-top: thin solid var(--background-modifier-accent) !important;
    justify-content: center !important;
    }
}


/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* prevent clicking on official discord badges */
[class^=tags_] > [class^=container_] > [aria-label]:has([href*="discord.com"]:active) {
  pointer-events: none;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* coloured status picker backgrounds */
[class^=item_][class*=focused_] {
    #status-status-picker--dnd& {
        background-color: rgba(242, 63, 66, 0.9);
    }
    #status-status-picker--dnd& {
    background-color: rgba(242, 63, 66, 0.9);
    }
    #status-status-picker--invisible& {
    background-color: rgba(128, 132, 142, 0.9);
    }
    #status-status-picker--idle& {
    background-color: rgba(240, 178, 50, 0.9);
    }
    #status-status-picker--online& {
    background-color: rgba(35, 165, 90, 0.9);
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* compact polls by Faf4a/catpurrrchino */
[class^=chatContent_] [id^=message-accessories-] [aria-label="Poll options"] {
    grid-template-columns: repeat(2, 1fr);
}

[class^=chatContent_] [id^=message-accessories-] [class*=pollContainer_] [class^=answerInner_] {
    min-height: 0;
    width: 100% !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* more condensed member list*/
[class^=members_] > div > [class^=member_] > [class^=memberInner_] {
    padding: 0;
}

/* more condensed activity in friends tab */
#online-tab + [class^=nowPlayingColumn_] > aside > [class^=scroller_] {
    padding: 0 5px;
    margin: 0;
    border: none;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* make new pins & new notifs in inbox more noticeable */
[aria-label="Pinned Messages"]:has([class^=iconBadge_]) svg,
[aria-label="Inbox"]:has([class^=iconBadge_]) svg {
    color: var(--status-danger) !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* Make size-changing videos work as they used to by kyuuhachi */
.attachmentContentItem__47a25 {
    width: unset !important;
    height: unset !important;
}

.loadingOverlay__35a04 {
    aspect-ratio: unset !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* server list less padding */
nav:has(> [data-list-id=guildsnav]) {
    width: 64px;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* make code blocks' size dynamic (idea by callme_h) */
[class^=codeContainer_],
.shiki-container {
    width: fit-content;
    word-break: break-word;
    border-radius: 8px;
}

[class^=markup_] code {
    padding-right: 24px;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* make gif fav button invert colors */
[class*=gifFavoriteButton_]:not([class*=selected_]),
[class^=imageAccessory_]:has([class*=gifFavoriteButton_]:not([class*=selected_])) {
    mix-blend-mode: difference;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove newly added emojis highlight */
#emoji-picker-tab-panel [class^=newlyAddedHighlight] {
    border: none;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* shorten some dividers in channel column */
#channels {
    --custom-category-channel-space-before-category: 0;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* Add green colour to positive user actions */
#user-context-add-friend {
    color: rgb(35, 165, 90);
}

#user-context-add-friend[class*="focused_"] {
    background-color: rgba(35, 165, 90, 0.8);
    color: var(--white-500);
}

/* Add red colour to dangerous user actions by pointy */
#user-context-close-dm,
#user-context-remove-friend,
#user-context-block {
    color: var(--status-danger);
}

#user-context-close-dm[class*=focused_],
#user-context-remove-friend[class*=focused_],
#user-context-block[class*=focused_] {
    background-color: var(--button-danger-background);
    color: var(--white-500);
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* smaller member count */
.vc-membercount-member-list {
    margin-top: 0 !important;
    margin-bottom: -1.25em !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* bigger stream preview */
[class^=streamPreviewWrapper_] > [class*=streamPreview_]:not([class*=content_]) {
    width: 504px;
}

[class*=previewContainer_] {
    height: 284px;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* Role pill background by alije */
[class^=role_] {
    transform: translate(0);
    border: 0;
    [class^=roleCircle_]::before,
    [class*=actionButton_]&[class*=justifyCenter_] {
        border-radius: 5px;
    }
    [class^=roleRemoveIcon_] {
        margin: 0;
        left: unset;
        transform: translate(50%,-50%);
    }
    [class^=roleRemoveButton] {
        position: static;
    }
    [class^=root_] > & [class^=roleCircle_]::before {
        content: '';
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        background: inherit;
        border: 2px solid transparent;
        opacity: .4;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* Bigger Reactions */
[data-list-id=chat-messages] [id^=message-reactions] [class^=reaction_] .emoji {
    zoom: 150%;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* rounder radius in mentions */
.mention {
    border-radius: 5px;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* Vencord toolbox Logo */
.vc-toolbox-btn svg path {
    d: path("M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z");
}

.vc-toolbox-btn svg {
    width: 125%;
    height: 125%;
}

.vc-toolbox-btn {
    margin-left: 0;
}
