/* Classic Client Theme */
:root:root {
  /* use https://hslpicker.com/ to help pick your theme color */
  --theme-h: 0;
  --theme-s: 0%;
  --theme-l: 0%;

  --primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.90%);
  --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.70%);
  --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.90%);
  --primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.00%);
  --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.60%);
  --primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.70%);
  --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.90%);
  --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.10%);
  --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.60%);
  --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.40%);
  --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.30%);
  --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.70%);
  --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.10%);
  --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.80%);
}