/* CONTEXT MENU ICONS */
#user-context-user-profile > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='currentColor'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 22c.488 0 .968-.035 1.438-.103A5.976 5.976 0 0 1 12 18c0-.34.028-.675.083-1H6v-.976C6 14.074 10 13 12 13c.621 0 1.436.104 2.264.305A5.975 5.975 0 0 1 18 12c1.488 0 2.849.541 3.897 1.438.068-.47.103-.95.103-1.438 0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10Zm0-10c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3Z'/%3E%3Cpath d='M18 22a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z'/%3E%3C/g%3E%3C/svg%3E");
}
#user-context-mention > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12 2C6.486 2 2 6.486 2 12c0 5.515 4.486 10 10 10a9.937 9.937 0 0 0 5.652-1.741l-1.131-1.648A7.962 7.962 0 0 1 12 20c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8v.782C20 14.17 19.402 15 18.4 15l-.002.018a.904.904 0 0 0-.189-.018H18c-.563 0-1.4-.818-1.4-1.369V12c0-2.536-2.063-4.6-4.6-4.6A4.605 4.605 0 0 0 7.4 12c0 2.537 2.063 4.6 4.6 4.6 1.234 0 2.35-.494 3.177-1.287C15.826 16.269 16.93 17 18 17l.002-.019a.943.943 0 0 0 .193.019h.205c2.152 0 3.6-1.694 3.6-4.218V12c0-5.514-4.486-10-10-10Zm0 12.599a2.602 2.602 0 0 1-2.6-2.6c0-1.434 1.166-2.6 2.6-2.6 1.434 0 2.6 1.166 2.6 2.6 0 1.434-1.166 2.6-2.6 2.6Z'/%3E%3C/svg%3E");
}
#user-context-message-user > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill='currentColor' d='M4.798 3a1.8 1.8 0 0 0-1.8 1.8v10.8a1.8 1.8 0 0 0 1.8 1.8h2.7V21l3.6-3.6h8.1a1.8 1.8 0 0 0 1.8-1.8V4.8a1.8 1.8 0 0 0-1.8-1.8h-14.4Z'/%3E%3C/svg%3E");
}
#user-context-call > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M11 5V3c5.515 0 10 4.486 10 10h-2c0-4.411-3.589-8-8-8Zm6 8h-2c0-2.205-1.794-4-4-4V7c3.309 0 6 2.691 6 6Zm-6-2v2h2a2 2 0 0 0-2-2Zm3 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-5C6.925 22 2 17.075 2 11V6a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H6c.063 3.938 3 7 7 7v-1a1 1 0 0 1 1-1Z'/%3E%3C/svg%3E");
}
#user-context-note > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M13.5 15h-6v-1.5h6V15Zm3-3h-9v-1.5h9V12Zm0-3h-9V7.5h9V9Zm1.333-4.5H6.165A1.66 1.66 0 0 0 4.5 6.166v11.667A1.665 1.665 0 0 0 6.166 19.5h11.667a1.665 1.665 0 0 0 1.667-1.666V6.165c0-.924-.75-1.665-1.666-1.665Z'/%3E%3C/svg%3E");
}
#user-context-add-friend-nickname > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m19.293 9.83.648-.647a3.628 3.628 0 0 0 0-5.124 3.628 3.628 0 0 0-5.124 0l-.647.648 5.123 5.123Zm-6.397-3.853L5.185 13.69l5.124 5.122 7.711-7.714-5.124-5.122ZM4.12 20.97l4.64-1.159-4.572-4.572-1.16 4.64A.9.9 0 0 0 4.12 20.97Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-close-dm > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M18.4 4 12 10.4 5.6 4 4 5.6l6.4 6.4L4 18.4 5.6 20l6.4-6.4 6.4 6.4 1.6-1.6-6.4-6.4L20 5.6 18.4 4Z'/%3E%3C/svg%3E");
}
#user-context-add-friend > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M21 3h3v2h-3v3h-2V5h-3V3h3V0h2v3Zm-11 9c2.205 0 4-1.795 4-4s-1.795-4-4-4-4 1.795-4 4 1.795 4 4 4Zm0 1c-4.711 0-8 2.467-8 6v1h16v-1c0-3.533-3.289-6-8-6Z'/%3E%3C/svg%3E");
}
#user-context-remove-friend > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='-2 3 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='m20.295 3.299 1.414 1.414-2.292 2.293 2.292 2.293-1.414 1.414-2.293-2.293-2.292 2.293-1.415-1.414 2.293-2.293-2.293-2.293 1.415-1.414 2.292 2.293 2.293-2.293ZM8.002 16.006c2.205 0 4-1.795 4-4s-1.795-4-4-4-4 1.795-4 4 1.795 4 4 4Zm0 1c-4.711 0-8 2.467-8 6v1h16v-1c0-3.533-3.289-6-8-6Z'/%3E%3C/svg%3E");
}
#user-context-block > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M20 6.002h-6v-3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v19h2v-8h5.586l-2.293 2.293A1.002 1.002 0 0 0 9 18.002h11a1 1 0 0 0 1-1v-10a1 1 0 0 0-1-1Z'/%3E%3C/svg%3E");
}
#user-context-verify > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 1 3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4Zm0 10.99h7c-.53 4.12-3.28 7.79-7 8.94V12H5V6.3l7-3.11v8.8Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-timeout::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='-2 0 24 20'%3E%3Cpath d='m12.83 14.24-3.54-3.53A1.001 1.001 0 0 1 9 10V4h2v5.59l3.24 3.24-1.41 1.41Z' fill='currentColor'/%3E%3Cpath d='M13.31 2 18 6.69v6.62L13.31 18H6.69L2 13.31V6.69L6.69 2h6.62Zm.42-2H6.27a1.05 1.05 0 0 0-.71.29L.29 5.56a1.05 1.05 0 0 0-.29.71v7.46c.004.265.107.518.29.71l5.27 5.27c.192.183.445.286.71.29h7.46a1.05 1.05 0 0 0 .71-.29l5.27-5.27a1.05 1.05 0 0 0 .29-.71V6.27a1.05 1.05 0 0 0-.29-.71L14.44.29a1.05 1.05 0 0 0-.71-.29Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-kick::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15,14C17.67,14 23,15.33 23,18L23,20L7,20L7,18C7,15.33 12.33,14 15,14L15,14ZM15,12C12.791,12 11,10.209 11,8C11,5.791 12.791,4 15,4C17.209,4 19,5.791 19,8C19,10.209 17.209,12 15,12L15,12ZM5,9.59L7.12,7.46L8.54,8.88L6.41,11L8.54,13.12L7.12,14.54L5,12.41L2.88,14.54L1.46,13.12L3.59,11L1.46,8.88L2.88,7.46L5,9.59Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-ban::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='m13 2 9 8v2l-4.999 5.001H15L6 9V7l5-5h2Zm4.707.707a1 1 0 0 1 1.421.007l1.401 1.401a1 1 0 1 1-1.414 1.414l-1.401-1.401a1.003 1.003 0 0 1-.007-1.421ZM8.364 13l2.121 2.121-6.364 6.364L2 19.364 8.364 13Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-change-nickname > [class*="label_"] > [class*="labelWrapper_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m19.293 9.83.648-.647a3.628 3.628 0 0 0 0-5.124 3.628 3.628 0 0 0-5.124 0l-.647.648 5.123 5.123Zm-6.397-3.853L5.185 13.69l5.124 5.122 7.711-7.714-5.124-5.122ZM4.12 20.97l4.64-1.159-4.572-4.572-1.16 4.64A.9.9 0 0 0 4.12 20.97Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-voice-mute > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M6.7 11H5c0 1.19.34 2.3.9 3.28l1.23-1.23c-.27-.62-.43-1.31-.43-2.05Zm2.31.085a.46.46 0 0 1 .01.085L15 5.18V5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 .03.005.057.01.085Zm2.714 5.008-.76.76-.71.716c.244.064.493.115.746.151V22h2v-4.28c3.28-.49 6-3.31 6-6.72h-1.7c0 3-2.54 5.1-5.3 5.1a5.29 5.29 0 0 1-.276-.007ZM21 4.27 19.73 3 3 19.73 4.27 21l4.19-4.18 1.23-1.24 1.66-1.66 3.64-3.64L21 4.27Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-voice-deafen > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M6.162 15.007A2.02 2.02 0 0 0 6 15H4v-3c0-4.412 3.589-8 8-8 1.48 0 2.87.404 4.06 1.109l1.45-1.45A9.943 9.943 0 0 0 12 2C6.486 2 2 6.485 2 12v7.169l4.162-4.162Zm13.563-5.09c.18.664.275 1.363.275 2.083v3h-2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-8a9.95 9.95 0 0 0-.695-3.663l-1.58 1.58ZM3.201 23.624 1.787 22.21 21.586 2.411 23 3.825l-19.799 19.8Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-voice-disconnect > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='m21.117 1.116 1.767 1.768L19.768 6l3.116 3.116-1.767 1.768L18 7.768l-3.116 3.116-1.767-1.768L16.233 6l-3.116-3.116 1.767-1.768L18 4.232l3.117-3.116ZM18 22h-5C6.925 22 2 17.075 2 11V6a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H6c.063 3.938 3 7 7 7v-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1Z' fill='currentColor'/%3E%3C/svg%3E");
}
#user-context-mark-channel-read > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='m18 7-1.41-1.41-6.341 6.339 1.41 1.41L18 7Zm4.24-1.41L11.659 16.17 7.481 12l-1.41 1.41L11.66 19l12-12-1.419-1.41ZM.41 13.41 6 19l1.41-1.41L1.83 12 .41 13.41Z' fill='currentColor'/%3E%3C/svg%3E");
}
#channel-context-mark-channel-read > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='m18 7-1.41-1.41-6.341 6.339 1.41 1.41L18 7Zm4.24-1.41L11.659 16.17 7.481 12l-1.41 1.41L11.66 19l12-12-1.419-1.41ZM.41 13.41 6 19l1.41-1.41L1.83 12 .41 13.41Z' fill='currentColor'/%3E%3C/svg%3E");
}
#channel-context-invite-people > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M21 3h3v2h-3v3h-2V5h-3V3h3V0h2v3Zm-11 9c2.205 0 4-1.795 4-4s-1.795-4-4-4-4 1.795-4 4 1.795 4 4 4Zm0 1c-4.711 0-8 2.467-8 6v1h16v-1c0-3.533-3.289-6-8-6Z'/%3E%3C/svg%3E");
}
#channel-context-channel-copy-link > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='currentColor' d='M10.59 13.41c.41.39.41 1.03 0 1.42-.39.39-1.03.39-1.42 0a5.003 5.003 0 0 1 0-7.07l3.54-3.54a5.003 5.003 0 0 1 7.07 0 5.003 5.003 0 0 1 0 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.982 2.982 0 0 0 0-4.24 2.982 2.982 0 0 0-4.24 0l-3.53 3.53a2.982 2.982 0 0 0 0 4.24zm2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 0 1 0 7.07l-3.54 3.54a5.003 5.003 0 0 1-7.07 0 5.003 5.003 0 0 1 0-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.982 2.982 0 0 0 0 4.24 2.982 2.982 0 0 0 4.24 0l3.53-3.53a2.982 2.982 0 0 0 0-4.24.973.973 0 0 1 0-1.42z'/%3E%3Cpath d='M0 0h24v24H0z'/%3E%3C/g%3E%3C/svg%3E");
}
#guild-context-mark-guild-read > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='m18 7-1.41-1.41-6.341 6.339 1.41 1.41L18 7Zm4.24-1.41L11.659 16.17 7.481 12l-1.41 1.41L11.66 19l12-12-1.419-1.41ZM.41 13.41 6 19l1.41-1.41L1.83 12 .41 13.41Z' fill='currentColor'/%3E%3C/svg%3E");
}
#guild-context-invite-people > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M21 3h3v2h-3v3h-2V5h-3V3h3V0h2v3Zm-11 9c2.205 0 4-1.795 4-4s-1.795-4-4-4-4 1.795-4 4 1.795 4 4 4Zm0 1c-4.711 0-8 2.467-8 6v1h16v-1c0-3.533-3.289-6-8-6Z'/%3E%3C/svg%3E");
}
#guild-context-privacy > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12 5C5.648 5 1 12 1 12s4.648 7 11 7 11-7 11-7-4.648-7-11-7Zm0 11a4 4 0 1 1 0-8 4 4 0 0 1 0 8Z'/%3E%3Cpath fill='currentColor' d='M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z'/%3E%3C/svg%3E");
}
#guild-context-change-nickname > [class*="label_"] > [class*="labelWrapper_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m19.293 9.83.648-.647a3.628 3.628 0 0 0 0-5.124 3.628 3.628 0 0 0-5.124 0l-.647.648 5.123 5.123Zm-6.397-3.853L5.185 13.69l5.124 5.122 7.711-7.714-5.124-5.122ZM4.12 20.97l4.64-1.159-4.572-4.572-1.16 4.64A.9.9 0 0 0 4.12 20.97Z' fill='currentColor'/%3E%3C/svg%3E");
}
#guild-context-leave-guild > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='m10.418 13 2.29 2.294-1.416 1.412-4.706-4.715 4.708-4.699 1.413 1.416L10.41 11h11.539C21.446 5.955 17.177 2 12 2 6.486 2 2 6.487 2 12s4.486 10 10 10c5.177 0 9.446-3.954 9.949-9H10.418Z'/%3E%3C/svg%3E");
}
#guild-context-mark-folder-read > [class*="label_"]::after
{
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='m18 7-1.41-1.41-6.341 6.339 1.41 1.41L18 7Zm4.24-1.41L11.659 16.17 7.481 12l-1.41 1.41L11.66 19l12-12-1.419-1.41ZM.41 13.41 6 19l1.41-1.41L1.83 12 .41 13.41Z' fill='currentColor'/%3E%3C/svg%3E");
}
/*#guild-context-folder-settings > [class*="label-"]::after
{
  -webkit-mask: url("");
}
#guild-context-folder-collapse > [class*="label-"]::after
{
  -webkit-mask: url("");
}*/
/*Styles and other conglomerate shenanigans*/
#user-context-user-profile > [class*="label_"]::after,
#user-context-mention > [class*="label_"]::after,
#user-context-message-user > [class*="label_"]::after,
#user-context-call > [class*="label_"]::after,
#user-context-note > [class*="label_"]::after,
#user-context-add-friend-nickname > [class*="label_"]::after,
#user-context-close-dm > [class*="label_"]::after,
#user-context-mark-channel-read > [class*="label_"]::after,
#channel-context-mark-channel-read > [class*="label_"]::after,
#channel-context-invite-people > [class*="label_"]::after,
#channel-context-channel-copy-link > [class*="label_"]::after,
#guild-context-mark-guild-read > [class*="label_"]::after,
#guild-context-invite-people > [class*="label_"]::after,
#guild-context-privacy > [class*="label_"]::after,
#guild-context-change-nickname > [class*="label_"] > [class*="labelWrapper_"]::after,
#guild-context-leave-guild > [class*="label_"]::after,
#guild-context-mark-folder-read > [class*="label_"]::after,
/*#guild-context-folder-settings > [class*="label_"]::after,*/
/*#guild-context-folder-collapse > [class*="label_"]::after,*/
#user-context-add-friend > [class*="label_"]::after,
#user-context-remove-friend > [class*="label_"]::after,
#user-context-block > [class*="label_"]::after,
#user-context-verify > [class*="label_"]::after,
#user-context-timeout::after,
#user-context-kick::after,
#user-context-ban::after,
#user-context-change-nickname > [class*="label_"] > [class*="labelWrapper_"]::after,
#user-context-voice-mute > [class*="label_"]::after,
#user-context-voice-deafen > [class*="label_"]::after,
#user-context-voice-disconnect > [class*="label_"]::after
{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='' fill='currentColor'/%3E%3C/svg%3E");
  -webkit-mask-size: cover;
  background-color: currentColor;
  position: absolute;
  right: 8px;
  width: 18px;
  height: 18px;
}
#user-context-voice-mute > [class*="iconContainer_"] > svg,
#user-context-voice-deafen > [class*="iconContainer_"] > svg,
#user-context-timeout > [class*="label_"],
#user-context-kick > [class*="label_"],
#user-context-ban > [class*="label_"]
{
  display: none !important;
}
#user-context-timeout::before
{
  content: "Timeout";
}
#user-context-kick::before
{
  content: "Kick";
}
#user-context-ban::before
{
  content: "Ban";
}
/* remove all reactions */
#message-remove-reactions > [class*="label_"]::after, #message-actions-remove-reactions > [class*="label_"]::after
{
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.522 17.523 22 12 22C6.477 22 2 17.522 2 12ZM6.375 12.8713C7.41054 12.8713 8.25 12.0318 8.25 10.9963C8.25 9.96073 7.41053 9.12128 6.375 9.12128C5.33947 9.12128 4.5 9.96073 4.5 10.9963C4.5 12.0318 5.33946 12.8713 6.375 12.8713ZM19.5 10.9963C19.5 12.0318 18.6605 12.8713 17.625 12.8713C16.5895 12.8713 15.75 12.0318 15.75 10.9963C15.75 9.96073 16.5895 9.12128 17.625 9.12128C18.6605 9.12128 19.5 9.96073 19.5 10.9963ZM10.4867 14.825C10.3576 14.3236 9.8465 14.0217 9.34508 14.1508C8.84365 14.2798 8.54179 14.791 8.67085 15.2924C9.0524 16.7748 10.397 17.8712 12 17.8712C13.603 17.8712 14.9476 16.7748 15.3291 15.2924C15.4582 14.791 15.1563 14.2798 14.6549 14.1508C14.1535 14.0217 13.6424 14.3236 13.5133 14.825C13.3398 15.4991 12.7268 15.9962 12 15.9962C11.2732 15.9962 10.6602 15.4991 10.4867 14.825Z"></path></svg>');
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.522 17.523 22 12 22C6.477 22 2 17.522 2 12ZM6.375 12.8713C7.41054 12.8713 8.25 12.0318 8.25 10.9963C8.25 9.96073 7.41053 9.12128 6.375 9.12128C5.33947 9.12128 4.5 9.96073 4.5 10.9963C4.5 12.0318 5.33946 12.8713 6.375 12.8713ZM19.5 10.9963C19.5 12.0318 18.6605 12.8713 17.625 12.8713C16.5895 12.8713 15.75 12.0318 15.75 10.9963C15.75 9.96073 16.5895 9.12128 17.625 9.12128C18.6605 9.12128 19.5 9.96073 19.5 10.9963ZM10.4867 14.825C10.3576 14.3236 9.8465 14.0217 9.34508 14.1508C8.84365 14.2798 8.54179 14.791 8.67085 15.2924C9.0524 16.7748 10.397 17.8712 12 17.8712C13.603 17.8712 14.9476 16.7748 15.3291 15.2924C15.4582 14.791 15.1563 14.2798 14.6549 14.1508C14.1535 14.0217 13.6424 14.3236 13.5133 14.825C13.3398 15.4991 12.7268 15.9962 12 15.9962C11.2732 15.9962 10.6602 15.4991 10.4867 14.825Z"></path></svg>');
    position: absolute;
    right: 8px;
}
