/* make nitro needed emojis b&w */
#emoji-picker-grid [class^=emojiListRow_] [class^=emojiItem_]:has([class^=emojiLockIconContainer_]),
#emoji-picker-grid [class*=categorySectionNitroLocked_] {
  background-color: transparent;
  filter: grayscale(100%);
}

#emoji-picker-grid [class*=categorySectionNitroLocked_] [class^=lockedEmoji_] {
  background: hsl(var(--black-500-hsl)/.6);
  filter: brightness(50%);
}

/* disable clicking on unavailable emojis */
#emoji-picker-grid [class^=categorySection_][class*=categorySectionNitroLocked],
#emoji-picker-grid [class^=emojiItem_]:has([class^=emojiLockIconContainer_]) {
  pointer-events: none;
}

#emoji-picker-grid [class^=nitroTopDividerContainer_],
#emoji-picker-grid [class^=upsellContainer_],
#emoji-picker-tab-panel [class^=premiumPromo_] {
  display: none !important;
}
