/*
 * @name AndroidPlayer
 * @description Make Vencord's SpotifyControls resemble the Android media player
 * @author tom2k, AkiraSimplex
 * @version 1.0.0
*/
/* android font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* prgress bar wave animation */
@keyframes barwave {
    100% {
        -webkit-mask-position: 30px 0px;
    }
}

/* remove user panel background behind spotify controls */
[class^=panels_] {
    background-color: transparent;
}

#vc-spotify-player {
    /* variables */
    --android-blur-amount: 0.5px;
    --android-darken-percent: 0.8;
    --your-font-here: "Roboto";
    /* fonts */
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-primary: var(--your-font-here), var(--fallback-font);
    --font-display: var(--your-font-here), var(--fallback-font);
    font-family: var(--font-display) !important;
    /* other */
    height: 110px;
    border: none;
    background: transparent !important;
    position: relative;
    align-content: end;
    /* artwork cover as background */
    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--vc-spotify-track-image);
        background-size: cover;
        background-position: center;
        filter: blur(var(--android-blur-amount));
        clip-path: inset(0);
        border-radius: 21px 21px 0 0;
    }
    /* radial gradient over artwork */
    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,var(--android-darken-percent)));
        border-radius: 20px 20px 0 0;
    }
    #vc-spotify-info-wrapper {
        margin-bottom: 20px;
        margin-left: 5px;
        /* hide album cover */
        #vc-spotify-album-image {
            display: none;
        }
        /* stylize titles */
        #vc-spotify-titles {
            width: 175px;
            /* make titles wrap if very long */
            > .vc-spotify-ellipoverflow {
                white-space: wrap;
                /* hide album title */
                &:has(> #vc-spotify-album-title) {
                    display: none;
                }
            }
            #vc-spotify-song-title {
                font-weight: 400;
                font-size: 14px;
                color: white;
            }
            /* hide "by" and "on" */
            .vc-spotify-ellipoverflow:has(> .vc-spotify-artist) {
                font-size: 0;
                .vc-spotify-artist,
                .vc-spotify-comma {
                    font-size: 12px !important;
                    color: white;
                    filter: brightness(.8);
                }
            }
        }
    }
    #vc-spotify-progress-bar {
        /* move progress bar */
        [class^=sliderContainer_] {
            margin-left: 32px;
            width: calc(100% - 129px);
            position: absolute;
            top: 11px;
            [class^=slider_] {
                /* stylize progress bar */
                [class^=bar_] {
                    background-color: #ffffff3b;
                    overflow: visible;
                    height: 3px !important;
                    transform: translateY(0.5px);
                    [class^=barFill_] {
                        background-color: white;
                        overflow: visible;
                    }
                }
                /* stylize grabber */
                [class^=track_] [class^=grabber_] {
                    background-color: white;
                    color: white;
                    opacity: 1;
                    height: 16px !important;
                    width: 4px !important;
                    border-radius: 20%;
                    border: 0;
                    margin-top: 0;
                    margin-left: 0;
                    top: 12px;
                }
            }
        }
        /* hide durations */
        .vc-spotify-progress-time {
            display: none;
        }
    }
    &:has(.vc-spotify-button-row .vc-spotify-pause) #vc-spotify-progress-bar [class^=sliderContainer_] [class^=slider_] [class^=bar_] [class^=barFill_] {
        background-color: transparent;
        /* wave animation */
        &::after {
            content: '';
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='45 -13 360 64'%3E%3Cpath d='M4 19q45-33 90 0c31 22 60 22 90 0q45-33 90 0t90 0 90 0' style='fill:none;stroke:%23000;stroke-width:28'/%3E%3C/svg%3E");
            height: 9px;
            -webkit-mask-size: 30px 9px;
            transform: translateY(-2.5px);
            animation: barwave 4s linear infinite;
            background: white;
            position: absolute;
            width: inherit;
            top: calc(25% - 1.2px);
            overflow: visible;
        }
    }
    .vc-spotify-button-row {
        .vc-spotify-button {
            color: white;
            &:hover {
                background: none;
                color: var(--interactive-normal);
            }
            /* shuffle button */
            &[class*=shuffle] {
                order: 3;
                path {
                    d: path("m 12.5 14.723 l 0.98 -1.167 l 0.957 1.14 a 2.25 2.25 0 0 0 1.724 0.804 h 1.947 l -1.017 -1.018 a 0.75 0.75 0 1 1 1.06 -1.06 l 2.829 2.828 l -2.829 2.828 a 0.75 0.75 0 1 1 -1.06 -1.06 L 18.109 17 H 16.16 A 3.75 3.75 0 0 1 13.287 15.66 L 12.5 14.722 Z m 5.651 -9.801 a 0.75 0.75 0 1 0 -1.06 1.06 L 18.109 7 H 16.16 A 3.75 3.75 0 0 0 13.287 8.34 L 7.114 15.696 A 2.25 2.25 0 0 1 5.39 16.5 H 5 V 18 H 5.391 A 3.75 3.75 0 0 0 8.264 16.66 L 14.437 9.304 A 2.25 2.25 0 0 1 16.161 8.5 h 1.947 l -1.017 1.018 a 0.75 0.75 0 0 0 1.06 1.06 L 20.98 7.75 L 18.15 4.922 Z M 5.391 7.5 H 5 V 6 H 5.391 C 6.5 6 7.551 6.49 8.264 7.34 L 9.89 9.277 L 8.911 10.444 L 7.115 8.304 A 2.25 2.25 0 0 0 5.39 7.5 Z");
                }
                /* when enabled */
                &:not([class*=off]) {
                    color: var(--vc-spotify-green);
                    /* little dot */
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 3.2px;
                        width: 3.2px;
                        border-radius: 100%;
                        bottom: 8px;
                        background-color: var(--vc-spotify-green);
                        clip-path: inset(0);
                    }
                }
            }
            &:has(.vc-spotify-previous) {
                order: 1;
                margin-right: calc(50% - 64px);
            }
            /* play/pause button styling */
            &:has(.vc-spotify-pause,.vc-spotify-play) {
                order: 5;
                position: absolute;
                top: 1em;
                right: 1em;
                background: rgba(255, 255, 255, 0.75);
                border-radius: 100%;
                backdrop-filter: blur(5px);
                svg {
                    fill: white;
                    filter: invert();
                }
            }
            /* pause button squircle rather than circle */
            &:has(.vc-spotify-pause) {
                border-radius: 30%;
                /* make icon bit smaller */
                svg {
                    scale: 85%;
                    /* sharp cornered pause icon */
                    path {
                        d: path("M 6.7,4.5 A 0.7,0.7 0 0 0 6,5.2 v 12.6 a 0.7,0.7 0 0 0 0.7,0.7 H 9.3 A 0.7,0.7 0 0 0 10,17.8 V 5.2 A 0.7,0.7 0 0 0 9.3,4.5 Z m 8,0 A 0.7,0.7 0 0 0 14,5.2 v 12.6 a 0.7,0.7 0 0 0 0.7,0.7 h 2.6 A 0.7,0.7 0 0 0 18,17.8 V 5.2 A 0.7,0.7 0 0 0 17.3,4.5 Z");
                    }
                }
            }
            &:has(.vc-spotify-next) {
                order: 2;
                margin-left: calc(50% - 64px);
            }
            /* repeat button */
            &[class*=repeat] {
                order: 4;
                /* make the little "1" a bit smaller */
                .vc-spotify-repeat-1 {
                    font-size: 60%;
                }
                path {
                    d: path("M 5 9.75 A 3.75 3.75 0 0 1 8.75 6 h 8.5 A 3.75 3.75 0 0 1 21 9.75 v 5 a 3.75 3.75 0 0 1 -3.75 3.75 H 14.81 l 1.018 1.018 a 0.75 0.75 0 1 1 -1.06 1.06 L 11.939 17.75 l 2.829 -2.828 a 0.75 0.75 0 1 1 1.06 1.06 L 14.811 17 h 2.439 a 2.25 2.25 0 0 0 2.25 -2.25 v -5 a 2.25 2.25 0 0 0 -2.25 -2.25 h -8.5 A 2.25 2.25 0 0 0 6.5 9.75 v 5 A 2.25 2.25 0 0 0 8.75 17 H 10 v 1.5 H 8.75 A 3.75 3.75 0 0 1 5 14.75 v -5 z");
                }
                /* when enabled */
                &:not([class*=off]) {
                    color: var(--vc-spotify-green);
                    /* little dot */
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 3.2px;
                        width: 3.2px;
                        border-radius: 100%;
                        bottom: 2px;
                        background-color: var(--vc-spotify-green);
                        clip-path: inset(0);
                    }
                }
            }
        }
    }
}