/*
 * @name Hide Nitro Upselling
 * @description Hide all Nitro upselling
 * @author Vendicated, msm8916, D3SOX, tom2k
 * @version 2.2
*/
/* HIDE */
/* Nitro Button above DM List */
[href="/store"],
/* Shop Button above DM List */
[href="/shop"],
/* Gift Button */
[class^=channelTextArea_] [class^=buttons_] > button,
/* entrance sounds in voice & video settings */
[id="voice-&-video-tab"] [class^=soundboardRow_] + [class^=divider_] ~ [class],
/* react with nitro emojis in vc */
#emoji-picker-tab-panel [class^=tooltipContainer_]:has(> #fancybutton-toggle),
/* "you could be paying less!" in server boost modal */
.paymentModalContent [class^=upsellFooter_],
/* Nitro upselling in server boosting screen */
button[class*=guildBoostCtaSecondary_],
/* Nitro badge in chat */
[class^=nitroAuthorBadgeContainer_],
/* payment settings header */
[class^=header_]:has(+ [class^=premiumTab_]),
/* nitro settings tab */
[class^=premiumTab_],
/* subscriptions settings tab */
[class^=item_][data-tab-id="Subscriptions"],
/* gift inventory settings tab */
[class^=item_][data-tab-id="Library Inventory"],
/* billing settings tab */
[class^=item_][data-tab-id="Billing"],
/* ^ following separator in settings */
[class^=item_][data-tab-id="Billing"] + [class^=separator_],
/* merch in settings */
[data-tab-id="merchandise"],
/* Nitro settings right click entry */
#user-settings-cog-Discord_Nitro,
/* Subscriptions settings right click entry */
#user-settings-cog-Subscriptions,
/* Gift invetory settings right click entry */
#user-settings-cog-Library_Inventory,
/* Billing settings right click entry */
#user-settings-cog-Billing,
/* Merch settings right click entry */
#user-settings-cog-merchandise,
/* nitro icon in stream quality */
[class^=streamQualityIndicator_] [class^=premiumStreamIcon_],
/* Nitro upselling in user popout when hovering over banner */
[class^=banner_] [class^=premiumIcon],
/* "Send longer Messages with Discord Nitro!"*/ 
[class^=characterCount_] [class*=upsell_],
/* Long message length nitro upselling description */
[class^=focusLock_] > [class^=root_] > [class^=content_] > [class^=defaultColor_] > p:has(a),
/* Large file upload nitro upselling description */
[class^=focusLock_] > [class^=root_] > [class^=content_] > [class^=defaultColor_] > [class^=body_] > [class^=defaultColor_],
/* 100 server limit nitro upselling description */
[class^=focusLock_] > [class^=root_] > [class^=content_] > [class^=defaultColor_] > p:has([class^=learnMoreLink_]),
/* Popups upselling nitro button */
[class^=focusLock_] > [class^=root_] > [class^=flex_] > [class^=primaryActions_] > [class^=shinyButton_],
/* no more super reaction effect */
[class*=effectsWrapper],
/* Remove gif option from profile pic upload option */
[class^=imagePickerContainer_] > [class^=optionBox_]:has([class^=gifIconContainer_]),
/* "Try Out Nitro!" in profiles settings tab */
#profile-customization-tab [class*=premiumFeatureBorder],
/* unique server profiles overlay in profiles settings tab */
#profile-customization-tab [class^=upsellOverlayContainer_],
/* Shop upselling in profiles settings tab */
#profile-customization-tab > [class^=container_][style^="background-image:"],
/* change avatar decoration option when clicking pfp in profiles tab */
#user-settings-change-avatar-change-avatar-decoration,
/* avatar decoration customizer in profiles tab */
#profile-customization-tab [class^=profileCustomizationSection_] [class^=customizationSection_][class*=withDivider_] + [class^=customizationSection_],
/* profile effect customizer in profiles tab */
#profile-customization-tab [class^=profileCustomizationSection_] [class^=customizationSection_][class*=withDivider_] + [class^=customizationSection_] + [class^=customizationSection_],
/* customize icon section in appearance tab */
#appearance-tab [class^=selectionGroup_]:has([class^=nitroWheel_]),
/* customize colour background section in appearance tab */
#appearance-tab section:has(> [class^=header_] [class^=nitroWheel_]),
/* Super reactions toggle */
[class^=burstToggle_],
/* Super reaction hover tooltip Nitro upsell */
[class^=burstReactionTooltipPrompt],
/* custom emoji hover tooltip Nitro upsell */
[class^=tooltipPremiumContent_],
/* "Powered by Nitro" when clicking on Emoji/Sticker */
[class^=emojiSection_] [class^=nitroTextAndBadge_],
/* "Get Nitro" button when clicking on Emoji/Sticker */
[class^=emojiSection_] [class*=shinyButton_],
/* nitro upselling description when clicking on emoji/sticker */
[class^=emojiSection_] > [class^=flex_] > [class^=flex_] > [class^=defaultColor_][data-text-variant="text-sm/normal"],
/* nitro top divider in emoji picker/autocomplete  */
[class^=nitroTopDividerContainer_],
/* hide unavailable emoji server shortcuts */
#emoji-picker-tab-panel [class^=listItems_] > div:has([class^=categoryItemLockIconContainer_]),
/* nitro needed emojis in emoji picker search results */
#emoji-picker-grid [class^=listItems_][style="inset: 8px 0px;"] > [class^=categorySection_][class*=categorySectionNitroLocked_],
/* nitro icon in emoji picker search results */
#emoji-picker-grid [class^=categorySection_][class*=categorySectionNitroLocked_] [class^=headerIcon_],
/* nitro bottom divider in emoji picker  */
#emoji-picker-grid [class^=nitroBottomDivider_],
/* nitro upsell warning in emoji picker  */
#emoji-picker-grid [class^=upsellContainer_] {
  display: none !important;
}

/* change server names and "Available with Nitro" headers in emoji picker to "Unavailable" */
#emoji-picker-grid [class^=categorySection_][class*=categorySectionNitroLocked_] [class^=headerLabel_] {
    margin: 0;
    visibility: hidden;
    max-width: 87px;
    &::before {
        visibility: visible;
        content: 'Unavailable';
    }
}

/* make nitro needed emojis & stickers b&w */
#emoji-picker-grid [class^=emojiListRow_] [class^=emojiItem_]:has([class^=emojiLockIconContainer_]),
#emoji-picker-grid [class^=categorySection_][class*=categorySectionNitroLocked_],
#sticker-picker-grid [class^=sticker_]:has([class^=stickerNode_][class*=stickerUnsendable_]) {
  background-color: transparent;
  filter: grayscale(100%);
}

/* make unavailable emojis & stickers have matching styles */
#emoji-picker-grid [class^=categorySection_][class*=categorySectionNitroLocked_] [class^=lockedEmoji_],
#sticker-picker-grid [class^=sticker_]:has([class^=stickerNode_][class*=stickerUnsendable_]) {
  background: hsl(var(--black-500-hsl)/.6);
  filter: brightness(50%);
}

/* disable clicking on avatar in server profile customization when not unlocked */
#profile-customization-tab [class^=customizationSection_] [class^=avatar_][class*=clickable_]:has(path[d="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1 1 0 0 0 0 2H8a1 1 0 1 1 0 2H6a1 1 0 1 0 0 2h1.25A8 8 0 1 0 15 4H7Zm8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"]),
#profile-customization-tab [class^=customizationSection_] [class^=avatar_][class*=clickable_]:has(path[d="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1 1 0 0 0 0 2H8a1 1 0 1 1 0 2H6a1 1 0 1 0 0 2h1.25A8 8 0 1 0 15 4H7Zm8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"]) rect,
/* disable clicking on banner in profile customization when not unlocked */
#profile-customization-tab [class^=customizationSection_] [class^=banner_] > [class^=clickable_]:has(path[d="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1 1 0 0 0 0 2H8a1 1 0 1 1 0 2H6a1 1 0 1 0 0 2h1.25A8 8 0 1 0 15 4H7Zm8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"]),
/* disable clicking on anything that redirects to nitro page */
[href="https://discord.com/settings/premium"]:active,
/* disable clicking on super reactions */
[class^=reactionInner_]:has([class^=burstGlow_]),
/* disable clicking on unavailable emojis & stickers */
#emoji-picker-grid [class^=categorySection_][class*=categorySectionNitroLocked] [class^=emojiListRow_],
#emoji-picker-grid [class^=emojiItem_]:has([class^=emojiLockIconContainer_]),
#sticker-picker-grid [class^=sticker_]:has([class^=stickerNode_][class*=stickerUnsendable_]) {
  pointer-events: none;
}

/* disable scrolling on the server shortcuts */
#emoji-picker-tab-panel > [class^=wrapper_] > [class^=scroller_]:has(> [class^=listItems_] [class^=categoryItemLockIconContainer_]) {
    overflow-y: hidden !important;
}

/* nuke huge upsell popup on login - images #1-2 in README.md */
[class^=focusLock_][role=dialog] > [class^=root_][style="opacity: 1; transform: scale(1);"]:has(> [class^=content_] > [class^=shinyButton_]) {
    /* restyle background */
    background: var(--background-primary);
    /* restyle close button */
    > button[class^=closeButton_] {
        opacity: 1;
        > [class^=contents_] {
            height: 24px;
            zoom: 112.5%;
        }
    }
    /* hide most of the upsell */
    > svg,
    > [class^=modalTopPill][class*=freeTrial] {
        display: none;
    }
    > [class^=content_]:has(> [class^=shinyButton_]) {
        > h2[class^=defaultColor_][class*=subHeader_] > a,
        > [class]:not(h2[class^=defaultColor_][class*=subHeader_]) {
            display: none;
        }
        /* replace sub header with informative text */
        > h2[class^=defaultColor_][class*=subHeader_] {
            visibility: hidden;
            display: flex;
            align-items: center;
            &::after {
                visibility: visible !important;
                content: "There was previously a Nitro advertisement here. Move along.";
                position: absolute;
                top: 42.5%;
            }
        }
    }
}

/* UNABLE TO TEST ATM */
/* Birthday avatar decoration upselling */
[class^=birthdayFeatureBorder],
/* Halloween avatar decoration upselling */
[class^=container]:has([class^=falloweenArtContainer_]),
/* Christmas gifting button */
[class*=sansAttachButton] > [class^=buttons] > [class^=container],
/* Snowsgiving bs */
a[href*="/snowsgiving"],
[class^=customizationSection] > [class^=limitedFeatureBorder] {
    display: none !important;
}
