/*
 * @name Hide Nitro Upselling
 * @description Hide all Nitro upselling in any language
 * @author tom2k
 * @version 2.3.1
*/
/* customization */
:root {
    /* do you want to see your quests/billing/nitro settings? */
    /* yes, I want to see it -> --billing: block !important; */
    /* no, hide it -> --billing: none; */
    --billing: none;
    /* do you want to see server boosting/server shop upsell? */
    /* yes, I want to see it -> --boosting: block !important; */
    /* no, hide it -> --boosting: none; */
    --boosting: none;
}

/* GENERAL HIDE */
/* nitro & shop buttons above DM list (more space efficient) */
[data-list-id^=private-channels] > ul > li:has([href="/store"],[href="/shop"]),
/* nitro button (in case it's anywhere else) */
[href="/store"],
/* shop button (in case it's anywhere else) */
[href="/shop"],
/* nitro button */
[class^=shinyButton_]:has(> [class*=premiumSubscribeButton_]),
/* nitro upselling in server boosting screen */
[class^=guildStatus_] > [class^=guildBoostCtas_] > [class^=guildBoostCta_][class*=guildBoostCtaSecondary_],
/* nitro upselling description in popup when clicking on emoji/sticker */
[class^=popoutContainer_] > [class^=emojiSection_] > [class^=flex_] > [class^=flex_] > [class^=defaultColor_][data-text-variant="text-sm/normal"],
/* nitro icon in stream quality */
[class^=streamQualityIndicator_] [class^=premiumStreamIcon_] {
    display: none;
}
#app-mount > [class^=appAsidePanelWrapper_] > [class^=themeEditor_] {
    /* random side popup theme upsell - image #3 */
    &:has([class^=shinyButton_]),
    /* nitro themes in theme preview editor */
    [class^=selectionGroup_] {
        display: none;
    }
}

/* disable hovering tooltip on nitro icon in stream quality */
[class^=streamQualityIndicator_]:has([class^=premiumStreamIcon_]),
/* disable clicking on anything that redirects to nitro page */
[href="https://discord.com/settings/premium"]:active {
  pointer-events: none;
}

/* settings */
[class^=standardSidebarView_] {
    /* tabs */
    > [class^=sidebarRegion_] > [class^=sidebarRegionScroller_] > nav > [class^=side_] {
        /* billing settings tabs */
        /* header */
        > [class^=header_]:has(+ [class^=premiumTab_]),
        /* nitro */
        > [class^=premiumTab_],
        /* subscriptions */
        > [data-tab-id="Subscriptions"],
        /* gift inventory/quests */
        > [data-tab-id="Library Inventory"],
        /* billing */
        > [data-tab-id="Billing"],
        /* following separator */
        > [data-tab-id="Billing"] + [class^=separator_] {
            display: var(--billing);
        }
        /* user settings boost tab */
        > [data-tab-id="Nitro Server Boost"] {
            display: var(--boosting);
        }
        /* user settings merch */
        > [data-tab-id="merchandise"] {
            display: none;
        }
        /* server settings boost status tab */
        > [class^=serverBoostTabItem_] {
            display: var(--boosting);
            + [class^=separator_] {
                display: var(--boosting);
            }
        }
        /* server settings subscriptions tab */
        > [data-tab-id=ROLE_SUBSCRIPTIONS] {
            display: var(--boosting);
            [class^=sidebar_] [class^=header_]:has(+ &),
            + [class^=separator_] {
                display: var(--boosting);
            }
        }
    }
    /* profiles tab */
    #profile-customization-tab {
        /* "Try Out Nitro!" section */
        > [class^=premiumFeatureBorder],
        [class^=limitedFeatureBorder],
        /* unique server profiles overlay */
        [class^=upsellOverlayContainer_],
        /* shop upselling */
        > [class^=container_][style^=background-image] {
            display: none;
        }
        [class^=profileCustomizationSection_] [class^=customizationSection_] {
            &[class*=withDivider_]:has(> [class^=buttonsContainer_]) {
                /* avatar decorations */
                + [class^=customizationSection_],
                /* profile effects */
                + [class^=customizationSection_] + [class^=customizationSection_] {
                    display: none;
                }
            }
            /* disable clicking on server specific avatar when not unlocked */
            [class^=avatar_][class*=clickable_]:has(path[d^="M7 4a1 1 0 0 0 0 2h3a1"]) {
                pointer-events: none;
                /* prevent clicking through status icon */
                rect {
                    pointer-events: none;
                }
            }
            /* disable clicking on banner when not unlocked */
            [class^=banner_] > [class^=clickable_]:has(path[d^="M7 4a1 1 0 0 0 0 2h3a1"]) {
                pointer-events: none;
            }
        }
    }
    /* appearance tab */
    #appearance-tab {
        /* customize colour background section */
        [class^=premiumFeatureBorder_],
        /* custom icon section */
        [class^=selectionGroup_]:has([class^=nitroWheel_]) {
            display: none;
        }
    }
    /* entrance sounds in voice & video settings */
    [id="voice-&-video-tab"] [class^=divider_][class*=callSoundsDivider_] ~ [class] {
    display: none !important;
    }
    /* server settings */
    /* overview tab boosting upsell */
    #overview-tab [class^=divider_] [class^=divider_]:has([class^=shinyButton_]),
    /* hide role icon section in roles tab when unavailable */
    #roles-tab [class^=contentWidth_] > [class^=container_]:has([class^=availabilityIndicator_] > [class^=icon_]:not([class*=unlockedIcon_])) {
        display: var(--boosting);
    }
    #emoji-tab,
    #stickers-tab,
    #soundboard-tab {
        /* boost upsell banner */
        [class^=banner_]:has([class^=shinyButton_]) {
            display: var(--boosting);
        }
    }
    #stickers-tab,
    #vanity_url-tab {
        /* boosting button */
        [class^=shinyButton_] {
            display: var(--boosting);
        }
    }
    #roles-tab,
    #vanity_url-tab {
        /* level requirement indicator */
        [class^=availabilityIndicator_] {
            /* hide boost icon */
            > [class^=icon_] {
                display: var(--boosting);
            }
            /* add margin so text is centered */
            > h2 {
                margin-left: 4px;
            }
            /* disable clicking level indicator */
            [class^=clickable_]:has(> &) {
                pointer-events: var(--boosting);
            }
        }
    }
    /* stickers tab boosting upsell */
    #stickers-tab {
        /* number of boosts description */
        [class^=tierDefaultUnlocked_],
        /* locked tiers */
        [class^=tier_]:has(> [class^=tierHeaderLocked_]),
        /* progress bar */
        [class^=progress_][class*=progressBar_] {
            display: var(--boosting);
        }
    }
    /* nitro upsell in server settings boost status tab */
    #guild_premium-tab > [class^=tier0Container_] {
        display: none;
    }
}
/* billing settings right click entry */
/* nitro */
#user-settings-cog-Discord_Nitro,
/* subscriptions */
#user-settings-cog-Subscriptions,
/* gift inventory/quests */
#user-settings-cog-Library_Inventory,
/* billing */
#user-settings-cog-Billing {
    display: var(--billing);
}
/* merch */
#user-settings-cog-merchandise {
    display: none;
}

/* boosting */
/* boost progress bar */
#channels > ul > li:has(> [data-list-item-id^=channels___boosts]),
/* server shop */
#channels > ul > li:has(> [class^=containerDefault_] > [id^=shop]),
/* booster badge in memberlist */
[class^=membersWrap_] [class^=premiumIcon],
/* right click entry to user settings boost tab */
#user-settings-cog-Nitro_Server_Boost,
/* boost button on clicking server header */
#guild-header-popout-premium-subscribe,
/* ^ following separator */
#guild-header-popout div:has(> #guild-header-popout-premium-subscribe) + [class^=separator_],
/* context menu for subscriptions tab */
#guild-context-guild-settings--ROLE_SUBSCRIPTIONS,
/* context menu for boost status tab in server settings */
#guild-context-guild-settings--GUILD_PREMIUM {
    display: var(--boosting);
}
/* disable clicking on server boost status icon in server header */
[class^=header_] [class^=guildIcon]:active {
  pointer-events: var(--boosting);
}

/* emoji picker */
#emoji-picker-tab-panel {
    /* hide react with nitro emojis in vc upsell */
    [class^=tooltipContainer_]:has(> #fancybutton-toggle),
    /* hide super reactions toggle */
    > [class^=header_] > [class^=burstToggle_] {
        display: none;
    }
    #emoji-picker-grid {
        /* nitro dividers */
        [class^=categorySection_][class*=categorySectionNitroDivider] {
            > [class^=nitroTopDividerContainer_],
            > [class^=nitroBottomDivider_] {
                display: none;
            }
        }
        /* nitro locked section */
        [class^=categorySection_][class*=categorySectionNitroLocked] {
            /* make nitro needed emojis b&w */
            filter: grayscale();
            background-color: transparent;
            /* server headers */
            [class^=header_] {
                /* hide nitro icon */
                [class^=headerIcon_]:has(> svg > path) {
                    display: none;
                    /* remove gap */
                    + [class^=headerLabel_] {
                        margin: 0;
                    }
                }
                /* change server names and "Available with Nitro" headers to "Unavailable" */
                [class^=headerLabel_] {
                    font-size: 0;
                    &::before {
                        font-size: 12px;
                        content: "Unavailable";
                    }
                }
            }
            /* disable clicking on unavailable emojis */
            [class^=emojiListRow_] {
                pointer-events: none;
            }
            /* make unavailable emojis have matching styles */
            [class^=lockedEmoji_] {
                background: hsl(var(--black-500-hsl)/.6);
                filter: brightness(50%);
            }
            /* hide nitro needed emojis in search results */
            #emoji-picker-tab-panel #emoji-picker-grid [class^=listItems_][style="inset: 8px 0px;"] > & {
                display: none;
            }
        }
        /* disable clicking on unavailable emojis and make them b&w */
        [class^=emojiListRow_] [class^=emojiItem_]:has([class^=emojiLockIconContainer_]) {
            pointer-events: none;
            background-color: transparent;
            filter: grayscale();
        }
        /* nitro upsell warning  */
        [class^=upsellContainer_] {
            display: none;
        }
    }
    > [class^=wrapper_] > [class^=scroller_] {
        /* disable scrolling on the server shortcuts */
        &:has(> [class^=listItems_] [class^=categoryItemLockIconContainer_]) {
            overflow-y: hidden !important;
        }
        /* hide unavailable emoji server shortcuts */
        > [class^=listItems_] > div:has([class^=categoryItemLockIconContainer_]) {
            display: none;
        }
    }
}

/* sticker picker */
#sticker-picker-tab-panel > #sticker-picker-grid {
    [class^=stickerNode_][class*=stickerUnsendable_] {
        [class^=wrapper_]:has(+ [class^=row_] [class^=sticker_] &) [class^=header_] {
            filter: grayscale();
            /* change server names and "Available with Nitro" headers to "Unavailable" */
            [class^=headerLabel_] {
                font-size: 0;
                &::before {
                    font-size: 12px;
                    content: "Unavailable";
                }
            }
        }
        /* unavailable stickers */
        #sticker-picker-tab-panel>#sticker-picker-grid [class^=sticker_]:has(&) {
            pointer-events: none;
            background: hsl(var(--black-500-hsl)/.6);
            filter: brightness(50%);
        }
    }
}

/* popouts */
[id^=popout_] {
    /* change avatar decoration option when clicking pfp in profiles tab */
    #user-settings-change-avatar-change-avatar-decoration,
    /* super reaction hover tooltips */
    [class^=reactionTooltip_] > [class^=burstReactionTooltipPrompt] {
        display: none;
    }
    /* soundboard */
    [class^=picker_][role=dialog] {
        /* nitro upsell container */
        > [class^=gridNoticeWrapper_]:has(> [class^=premiumFeatureBorder_]) {
            display: none;
        }
        /* sounds */
        > [class^=listWrapper_] > [class^=wrapper_] > [class^=scroller_] > [class^=listItems_] {
            /* server header with disabled sounds */
            > [class^=sectionContainer_]:has(+ ul > li > [class^=soundButton_][class*=premiumDisabled_]) {
                filter: grayscale();
                /* change unavailable server names to "Unavailable"  */
                > [class^=sectionHeader_] > [class^=sectionHeaderContent_] > h1 {
                    font-size: 0;
                    &::before {
                        content: "Unavailable";
                        font-size: 12px;
                    }
                }
            }
            /* prevent clicking on unavailable sounds */
            > ul > li:has(> [class^=soundButton_][class*=premiumDisabled_]) {
                filter: grayscale();
                pointer-events: none;
            }
        }
    }
}

/* chat input */
[class^=channelTextArea_] {
    /* gift button */
    [class^=buttons_] > button,
    /* "Send longer Messages with Discord Nitro!" */ 
    > [class^=characterCount_] [class*=upsell_] {
        display: none;
    }
}

/* chat */
[data-list-id=chat-messages] {
    /* super reactions */
    [class^=reaction_] > [class^=reactionInner_]:has(> [class^=burstGlow_]) {
        pointer-events: none;
        /* hide animation effect */
        [class^=effectsWrapper_] {
            display: none;
        }
        /* don't hide super reaction emoji when the animation effect would be happening */
        .emoji[class*=hideEmoji_] {
            opacity: 1;
        }
    }
}

/* dialog popups */
[class^=focusLock_][role=dialog] > [class^=root_] {
    /* text */
    > [class^=content_] {
        > [class^=defaultColor_] {
            /* paragraphs with a link, likely to the nitro page (long message length upselling description,100 server limit upselling description) */
            > p:has(> a,> [class^=learnMoreLink_]),
            /* large file upload upselling description */
            > [class^=body_] > [class^=defaultColor_] {
                display: none;
            }
        }
        /* remove gif option from profile pic upload option */
        [class^=imagePickerContainer_] > [class^=optionBox_]:has([class^=nitroWheel]) {
            display: none;
        }
    }
    /* nuke huge upsell popup on login - images #1-2 */
    &:has([class^=shinyButton_]) {
        /* restyle background */
        background: var(--background-primary);
        /* restyle close button */
        > button[class^=closeButton_] {
            opacity: 1;
            > [class^=contents_] {
                height: 24px;
                zoom: 112.5%;
            }
        }
        /* hide most of the upsell */
        > svg,
        > [class^=modalTopPill][class*=freeTrial] {
            display: none;
        }
    }
    > [class^=content_]:has(> [class^=shinyButton_]) {
        > h2[class^=defaultColor_][class*=subHeader_] > a,
        > [class] {
            display: none;
        }
        /* replace sub header with informative text */
        > h2[class^=defaultColor_][class*=subHeader_] {
            visibility: hidden;
            display: flex !important;
            align-items: center;
            &::after {
                visibility: visible !important;
                content: "There was previously a Nitro advertisement here. Move along.";
                position: absolute;
                top: 42.5%;
            }
        }
    }
/* "you could be paying less!" in server boost payment modal */
    > .paymentModalContent [class^=upsellFooter_] {
        display: none;
    }
}

/* UNABLE TO TEST ATM */
/* Birthday avatar decoration upselling */
/* [class^=birthdayFeatureBorder], */
/* Halloween avatar decoration upselling */
/* [class^=container]:has([class^=falloweenArtContainer_]), */
/* Christmas gifting button */
/* [class*=sansAttachButton] > [class^=buttons] > [class^=container], */
/* Snowsgiving bs */
/* a[href*="/snowsgiving"] {
    display: none;
} */
/* idk where this is */
/* uspell on role badge click */
/* [id^=popout_] button:has([class^=boosterBadge_]) {
  display: none;
} */
