/*
 * @name SpotifyRedesignV2
 * @description Expanded version of DaBluLite's Spotify Activity Redesign
 * @author tom2k, DaBluLite
 * @version 2.3.0
*/
/* set fonts */
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
    font-weight: 600;
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Bold-37290f1de77f297fcc26d71e9afcf43f.woff2);
    font-weight: 700;
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Extrabold-ba6c73cd7f82c81e49cf2204017803ed.woff2);
    font-weight: 800;
}

/* activity in user profiles */
[class^=userP] [class^=activity]:has(> [class^=platformIcon_][src="/assets/6daf7db5db0d4a895afa.svg"]) {
    /* set fonts */
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-primary: "Spotify", var(--fallback-font);
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important;
    background-color: #000 !important;
    border-radius: 8px;
    > [class^=bodyNormal_] > [class^=activityDetails_] {
        > [class^=assets_] > a > [class*=assetsLargeImageSpotify_] {
            border-radius: 4px;
        }
        /* text styles */
        > [class^=content][class*=Images] {
            /* "by" and "on" for online songs */
            color: white;
            /* regular font for song/artist/album */
            /* online songs */
            a,
            /* local songs */
            [title] {
                color: white;
                font-weight: 400;
            }
            /* song title */
            /* local songs */
            > div > [title][data-text-variant="text-sm/semibold"] {
                font-weight: 600 !important;
                /* online songs */
                > a {
                    font-weight: 600 !important;
                }
            } 
            /* online songs */
            > div > [class*=textRow_] > span > a,
            /* local songs */
            [title]:not(:has(*),[data-text-variant]) {
                color: white;
                opacity: .75;
            }
        }
    }
    /* stylize time bar */
    [class^=timeBar][class*=themed_] {
        /* prepare for "progress times on sides" section */
        justify-content: center;
        display: flex;
        > [class^=barInMultiLine_] {
            background-color: #4d4d4d;
            /* prepare for "progress times on sides" section */
            position: absolute;
            > [class^=barInner_] {
                background-color: white !important;
            }
        }
        > [class^=flex_] {
            /* prepare for "progress times on sides" section */
            margin-top: -1%;
            > [class^=text][class*=text_] {
                opacity: .75;
                color: white;
            }
        } 
    }
    /* user profile specific stuff */
    &[class*=Profile] > [class^=bodyNormal_] > [class^=activityDetails_] {
        /* make items vertically align with center of artwork */
        align-items: center;
        /* "progress times on sides" - local songs */
        > [class^=contentNoImages] > [class^=timeBar] {
            > [class^=barInMultiLine_] {
                width: 82.5%;
            }
            > [class^=flex] {
                margin-top: -0.75%;
            }
        }
        /* "progress times on sides" - online songs w buttons */
        &:has([class^=flex_] > [class^=button_][class*=lookFilled_]) > [class^=contentImages] > [class^=timeBar] {
            > [class^=barInMultiLine_] {
                width: 29%;
                margin-top: 0.25%;
            }
            > [class^=flex] {
                margin-top: -1.5%;
            }
        }
        /* "progress times on sides" - online songs w no buttons */
        > [class^=contentImages] > [class^=timeBar] {
            [class^=barInMultiLine_] {
                width: 65%;
            }
        }
    }
    /* user popout/panel specific stuff */
    &[class*=Popout] {
        /* "progress times on sides" - popouts */
        > [class^=timeBar] > [class^=barInMultiLine_] {
            width: 70%;
        }
        /* "progress times on sides" - panels */
        &:has(> [class^=headerContainer_] > h2) > [class^=timeBar] > [class^=barInMultiLine_] {
            width: 75%;
        }
    }
    div > [class^=flex_][class*=buttonsWrapper_] > [class^=syncButton_] {
        /* stylize "listen along" button in activity */
        background-color: white !important;
        color: black !important;
        border-radius: 50px;
        border: 1px solid white;
        /* stylize "play on spotify" button in activity */
        + button {
            background-color: black !important;
            border-radius: 50px;
            border: 1px solid white;
            transition: none !important;
            color: #1fdf64 !important;
        }
    }
    /* hide buttons when spotify closed - popout */
    > div:has(> [class^=flex_][class*=buttonsWrapper_] > [class^=disabledButtonWrapper_]),
    /* hide buttons when spotify closed - profile */
    [class^=actions_]:has(div > [class*=buttonsWrapper_] > [class^=disabledButtonWrapper_]),
    /* hide top-right spotify logo only when buttons are enabled */
    &:has([class^=flex_] > [class^=button_][class*=lookFilled_]) > [class^=platformIcon_],
    /* hide "Listening to Spotify" header */
    > [class^=headerContainer_] {
        display: none !important;
    }
}

/* vencord spotify player */
#vc-spotify-player {
    /* set fonts */
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-primary: "Spotify", var(--fallback-font);
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important;
    /* re-order player */
    display: flex;
    flex-direction: column;
    background-color: black !important;
    #vc-spotify-info-wrapper {
        /* re-order player */
        order: 0;
        /* enlarge & rounden image */
        #vc-spotify-album-image {
            height: 56px !important;
            width: 56px !important;
            border-radius: 4px;
        }
        height: 56px !important;
        #vc-spotify-titles {
            font-weight: 400 !important;
            #vc-spotify-artist {
                font-size: 14px !important;
            }
        }
    }
    #vc-spotify-progress-bar {
        /* re-order player */
        display: flex;
        align-items: center;
        gap: 8px;
        order: 3;
        margin: 0 !important;
        /* progress times on sides */
        .vc-spotify-progress-time {
            position: static;
        }
        /* center progress bar */
        [class^=sliderContainer_] {
            height: 10px;
            &:hover {
                /* show grabber on progress bar hover */
                [class^=grabber_] {
                    opacity: 1;
                }
                /* progress bar green on hover */
                [class^=barFill] {
                    background-color: #1fdf64 !important;
                }
            }
            [class^=bar_] {
                /* brighter progress bar background */
                background-color: #4d4d4d;
                /*resize progress bar*/
                height: 4px;
                [class^=barFill_] {
                    /* white progress bar */
                    background-color: white !important;
                    /* round corners */
                    border-radius: 8px;
                    }
                }
            /* stylize grabber */
            [class^=grabber_] {
                background-color: white !important;
                border-color: white !important;
                opacity: 0;
            }
        }
    }
    .vc-spotify-button-row {
        /* re-order player */
        gap: 8px !important;
        order: 2;
        margin: 5px 0 !important;
        .vc-spotify-button {
            /* stylize pause/play button */
            &:has(.vc-spotify-pause, .vc-spotify-play) {
                background-color: white !important;
                color: black !important;
            }
            /* enlarge pause/play buttons on hover */
            &:has(.vc-spotify-pause, .vc-spotify-play):hover {
                scale: 1.05;
            }
            /* no added background on hover */
            &:hover {
                background-color: transparent;
            }
            .vc-spotify-button-icon {
                width: 24px;
                height: 24px;
                /* next button */
                &.vc-spotify-next path {
                    d: path("M 17.7 6 a 0.7 0.7 0 0 0 -0.7 0.7 v 5.15 L 7.05 6.107 A 0.7 0.7 0 0 0 6 6.712 v 12.575 a 0.7 0.7 0 0 0 1.05 0.607 L 17 14.149 V 19.3 a 0.7 0.7 0 0 0 0.7 0.7 h 1.6 a 0.7 0.7 0 0 0 0.7 -0.7 V 6.7 a 0.7 0.7 0 0 0 -0.7 -0.7 h -1.6 z");
                }
                /* previous button */
                &.vc-spotify-previous path {
                    d: path("M 8.3 6 a 0.7 0.7 0 0 1 0.7 0.7 v 5.15 l 9.95 -5.744 a 0.7 0.7 0 0 1 1.05 0.606 v 12.575 a 0.7 0.7 0 0 1 -1.05 0.607 L 9 14.149 V 19.3 a 0.7 0.7 0 0 1 -0.7 0.7 H 6.7 a 0.7 0.7 0 0 1 -0.7 -0.7 V 6.7 a 0.7 0.7 0 0 1 0.7 -0.7 h 1.6 z");
                }
                /* repeat button */
                &.vc-spotify-repeat path {
                    d: path("M 5 9.75 A 3.75 3.75 0 0 1 8.75 6 h 8.5 A 3.75 3.75 0 0 1 21 9.75 v 5 a 3.75 3.75 0 0 1 -3.75 3.75 H 14.81 l 1.018 1.018 a 0.75 0.75 0 1 1 -1.06 1.06 L 11.939 17.75 l 2.829 -2.828 a 0.75 0.75 0 1 1 1.06 1.06 L 14.811 17 h 2.439 a 2.25 2.25 0 0 0 2.25 -2.25 v -5 a 2.25 2.25 0 0 0 -2.25 -2.25 h -8.5 A 2.25 2.25 0 0 0 6.5 9.75 v 5 A 2.25 2.25 0 0 0 8.75 17 H 10 v 1.5 H 8.75 A 3.75 3.75 0 0 1 5 14.75 v -5 z");
                }
                /* shuffle button */
                &.vc-spotify-shuffle path {
                    d: path("m 12.5 14.723 l 0.98 -1.167 l 0.957 1.14 a 2.25 2.25 0 0 0 1.724 0.804 h 1.947 l -1.017 -1.018 a 0.75 0.75 0 1 1 1.06 -1.06 l 2.829 2.828 l -2.829 2.828 a 0.75 0.75 0 1 1 -1.06 -1.06 L 18.109 17 H 16.16 A 3.75 3.75 0 0 1 13.287 15.66 L 12.5 14.722 Z m 5.651 -9.801 a 0.75 0.75 0 1 0 -1.06 1.06 L 18.109 7 H 16.16 A 3.75 3.75 0 0 0 13.287 8.34 L 7.114 15.696 A 2.25 2.25 0 0 1 5.39 16.5 H 5 V 18 H 5.391 A 3.75 3.75 0 0 0 8.264 16.66 L 14.437 9.304 A 2.25 2.25 0 0 1 16.161 8.5 h 1.947 l -1.017 1.018 a 0.75 0.75 0 0 0 1.06 1.06 L 20.98 7.75 L 18.15 4.922 Z M 5.391 7.5 H 5 V 6 H 5.391 C 6.5 6 7.551 6.49 8.264 7.34 L 9.89 9.277 L 8.911 10.444 L 7.115 8.304 A 2.25 2.25 0 0 0 5.39 7.5 Z");
                }
            }
        }
    }
}

/* vc hover activity popout */
[id^=popout_] [class^=activity_]:has(> [class^=channelActivityContainer_] > [class^=flexColumn] > [class^=timeBar_]) {
    /* fonts */
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-primary: "Spotify", var(--fallback-font);
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important;
    background-color: black !important;
    > [class^=channelActivityContainer_] {
        > [class^=flexColumn] {
            > [class^=flexRow_] {
                > [class^=clickable_] > [class^=spotifyLargeImage_] {
                    border-radius: 4px;
                }
                /* stylize text */
                > [class^=detailsAndAvatarsContainer_] {
                    color: white;
                    font-weight: 400;
                    /* song title */
                    > h2 > [class^=headerLink_] {
                        font-weight: 600;
                    }
                    /* artist name */
                    > [class^=ellipsisRow_][class*=colorHeaderSecondary_] {
                        /* local songs */
                        opacity: .75;
                        > span > a {
                            /* online songs */
                            opacity: .75;
                        }
                    }
                }
            }
            [class^=timeBar_] {
                > [class^=text][class*=text_] {
                    color: white;
                    opacity: .75;
                }
                > [class^=barInSingleLine_] > [class^=bar_] {
                    background-color: #4d4d4d;
                    > [class^=barInner_] {
                        background-color: white;
                    }
                }
            }
        }
    }
    > [class^=activityActionsContainer_] > [class^=flex_] {
        /* hide "listen along" when disabled */
        &:has(> [class^=disabledButtonWrapper_]) {
            display: none !important;
        }
        /* stylize "play on spotify" button */
        > [class^=button_]:has(+ [class^=syncButton_]) {
            background-color: black !important;
            border-radius: 50px;
            border: 1px solid white;
            transition: none !important;
            color: #1fdf64 !important;
        }
        /* stylize "listen along" button */
        > [class^=syncButton_] {
            background-color: white !important;
            color: black !important;
            border-radius: 50px;
            border: 1px solid white;
        }
    }
}

/* hide missing image icon in now playing column for local songs */
#online-tab + [class^=nowPlayingColumn_] [class^=itemCard_] [class^=spotifySection_] > [class^=activitySectionAssets_] > img:not([src]) {
    display: none !important;
}
