/* give discord's "mod view" the intended style */
[style="width: 480px;"] [class^=userProfile] [class^=container_],
[style="width: 480px;"] [class^=userProfile] [class^=container_] [style="background-color: rgba(43, 45, 49, 0.8);"] {
  background-color: transparent !important;
}
[style="width: 480px;"] [class^=userProfile] [class^=container_] [class^=topRow_],
[style="width: 480px;"] [class^=userProfile] [class^=container_] [class^=bottomRow_],
[style="width: 480px;"] [class^=userProfile] [class^=container_] [class^=header_],
[style="width: 480px;"] [class^=userProfile] [class^=container_] [class^=innerContainer_] {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
[style="width: 480px;"] [class^=userProfile] [class^=container_] [class^=innerContainer_] [class^=modInfoItem_] {
  background-color: rgba(0, 0, 0, 0.15);
}
