[class^=expandedFolderIconWrapper_] > svg {
	color: inherit !important;
}
[class*=FolderIconWrapper_] {
	color: var(--interactive-normal) !important;
}
[class*=FolderIconWrapper_]:hover {
	color: var(--interactive-active) !important;
	background-color: var(--background-modifier-selected);
}
