/* tweaked version of DaBluLite's SpotifyActivityRedesign */

/* make the cursor a pointer on buttons */
.vc-spotify-button-row [class^=vc-spotify-button] {
  cursor: pointer;
}
/* stylize text in activity to match player */
[id^=popout_] [class^=activity_]:has([class^=detailsAndAvatarsContainer__]) :is(.text__13126, .anchor_c8ddc0, .themed__857a7 .text__13126),
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) :is(.text__13126, .anchor_c8ddc0, .themed__857a7 .text__13126),
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) :is(.text__13126, .anchor_c8ddc0, .themed__857a7 .text__13126),
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .content_d7cb7f,
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .content_d7cb7f {
    color: #fff
}
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) [class^=timeBarUserPopoutV2_] .text__13126,
[id^=popout_] [class^=activity_]:has([class^=detailsAndAvatarsContainer__]) :is(.anchor_c8ddc0, .themed__857a7 .text__13126),
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) .contentImagesUserPopoutV2__04250 .state_a85ac0,
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) .contentImagesUserPopoutV2__04250 .textRow__4750e:nth-of-type(2) .activityName__47e51,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) .contentImagesProfileV2_aa86c4 .state_a85ac0,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) .contentImagesProfileV2_aa86c4 .textRow__4750e:nth-of-type(2) .activityName__47e51 {
    opacity: .75;
}
/* white progress bar */
[id^=popout_] [class^=activity_]:has([class^=detailsAndAvatarsContainer__]) .barInner_d1abc6,
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) .barInner_d1abc6,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) .barInner_d1abc6,
#vc-spotify-progress-bar .barFill__30e17 {
    background-color: #fff !important
}
/* brighter progress bar background */
[id^=popout_] [class^=activity_]:has([class^=detailsAndAvatarsContainer__]) [class^=bar_],
#vc-spotify-player .bar_e58961,
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) .bar_e63719,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) .bar_e63719 {
    background-color: #4d4d4d
}
/* rounden activity images */
[id^=popout_] [class^=activity_]:has([class^=spotifyButtonLogo__]) [class*=assetsLargeImage_],
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) [class*=assetsLargeImage_],
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) [class*=assetsLargeImage_] {
    border-radius: 4px
}
/* hide spotify header & logo in activity */
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) .platformIcon__05c5e,
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"])>.headerContainer__2ec4e,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) .platformIcon__05c5e,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"])>.headerContainer__2ec4e {
    display: none !important
}
/* stylize buttons */
/* "play on spotify" button in activity */
[id^=popout_] [class^=activity_]:has([class^=spotifyButtonLogo__]) [class^=activityActionsContainer__] button:not(:has([class^=listenAlongIcon__])),
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) button:not(:has([class^=listenAlongIcon__])),
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) button:not(:has([class^=listenAlongIcon__])) {
    background-color: transparent !important;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: none !important;
    color: #1fdf64 !important
}
/* listen along button */
[id^=popout_] [class^=activity_]:has([class^=spotifyButtonLogo__]) [class*=iconButton__],
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) [class*=iconButton__],
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) [class*=iconButton__] {
    background-color: #fff !important;
    color: #000 !important;
    border-radius: 50px;
    border: 1px solid #fff;
}
/* pause/play button */
.vc-spotify-button:has(.vc-spotify-pause,.vc-spotify-play) {
    background-color: #fff !important;
    color: #000 !important;
}
/* enlarge buttons on hover */
[id^=popout_] [class^=activity_]:has([class^=spotifyButtonLogo__]) button:hover
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) .buttonColor__01bf8:hover,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) .actionColor__21cca:hover,
.vc-spotify-button:has(>.vc-spotify-pause):hover,
.vc-spotify-button:has(>.vc-spotify-play):hover {
    scale: 1.05
}
/* stylize progress bar */
#vc-spotify-player .bar_e58961,
#vc-spotify-player .barFill__30e17 {
    border-radius: 8px
}
/* stylize grabber */
#vc-spotify-player .grabber_d2868c {
    background-color: #fff !important;
    border-color: #fff !important;
    opacity: 0
}
/* show grabber on progress bar hover */
#vc-spotify-progress-bar .sliderContainer__109be:hover .grabber_d2868c {
    opacity: 1
}
/* progress bar green on hover */
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) .bar_e63719:hover>.barInner_d1abc6,
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) .bar_e63719:hover>.barInner_d1abc6,
#vc-spotify-progress-bar .sliderContainer__109be:hover .barFill__30e17 {
    background-color: #1fdf64 !important
}
/* enlarge & rounden image */
#vc-spotify-info-wrapper #vc-spotify-album-image {
    height: 56px !important;
    width: 56px !important;
    border-radius: 4px
}
/* set fonts */
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2);
    font-weight: 400
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2);
    font-weight: 600
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2);
    font-weight: 700
}
@font-face {
    font-family: Spotify;
    src: url(https://encore.scdn.co/fonts/CircularSpTitle-Black-3f9afb402080d53345ca1850226ca724.woff2);
    font-weight: 800
}
#vc-spotify-info-wrapper {
    height: 56px;
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important
}
#vc-spotify-titles,
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]) :is(.activityName__47e51, .detailsWrap__4faa4)
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]) :is(.activityName__47e51, .detailsWrap__4faa4) {
    font-weight: 400 !important
}
.vc-spotify-artist {
    font-size: 14px !important;
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important
}
[id^=popout_] [class^=activity_]:has([class^=detailsAndAvatarsContainer__]),
.activityUserPopoutV2__32328:has(img[src$="7231645d01e0b14f58cc.svg"]),
.activityProfileV2__4de28:has(img[src$="7231645d01e0b14f58cc.svg"]),
#vc-spotify-controls {
    --fallback-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-primary: "Spotify", var(--fallback-font);
    --font-display: "Spotify", var(--fallback-font);
    font-family: var(--font-display) !important
}
/* adjust cursor behaviour */
.vc-spotify-button:hover {
    background-color: transparent;
    cursor: default;
}
/* re-order player */
.vc-spotify-button-row {
    gap: 8px !important
}
#vc-spotify-player {
    display: flex;
    flex-direction: column;
}
#vc-spotify-info-wrapper {
    order: 0;
}
.vc-spotify-button-row {
    order: 2;
    margin: 5px 0 !important;
}
#vc-spotify-progress-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    order: 3;
    margin: 0;
}
/* progress times on sides */
.vc-spotify-progress-time {
    position: static;
}
/* center progress bar */
#vc-spotify-progress-bar .sliderContainer__109be {
    height: 10px;
}
/* spotify shuffle button */
[class*=vc-spotify-shuffle] svg path {
  d:path("m 12.5 14.723 l 0.98 -1.167 l 0.957 1.14 a 2.25 2.25 0 0 0 1.724 0.804 h 1.947 l -1.017 -1.018 a 0.75 0.75 0 1 1 1.06 -1.06 l 2.829 2.828 l -2.829 2.828 a 0.75 0.75 0 1 1 -1.06 -1.06 L 18.109 17 H 16.16 A 3.75 3.75 0 0 1 13.287 15.66 L 12.5 14.722 Z m 5.651 -9.801 a 0.75 0.75 0 1 0 -1.06 1.06 L 18.109 7 H 16.16 A 3.75 3.75 0 0 0 13.287 8.34 L 7.114 15.696 A 2.25 2.25 0 0 1 5.39 16.5 H 5 V 18 H 5.391 A 3.75 3.75 0 0 0 8.264 16.66 L 14.437 9.304 A 2.25 2.25 0 0 1 16.161 8.5 h 1.947 l -1.017 1.018 a 0.75 0.75 0 0 0 1.06 1.06 L 20.98 7.75 L 18.15 4.922 Z M 5.391 7.5 H 5 V 6 H 5.391 C 6.5 6 7.551 6.49 8.264 7.34 L 9.89 9.277 L 8.911 10.444 L 7.115 8.304 A 2.25 2.25 0 0 0 5.39 7.5 Z");
}
[class*=vc-spotify-shuffle] svg {
  width: 24px;
  height: 24px;
}
/* spotify repeat button */
[class*=vc-spotify-repeat] svg path {
  d:path("M 5 9.75 A 3.75 3.75 0 0 1 8.75 6 h 8.5 A 3.75 3.75 0 0 1 21 9.75 v 5 a 3.75 3.75 0 0 1 -3.75 3.75 H 14.81 l 1.018 1.018 a 0.75 0.75 0 1 1 -1.06 1.06 L 11.939 17.75 l 2.829 -2.828 a 0.75 0.75 0 1 1 1.06 1.06 L 14.811 17 h 2.439 a 2.25 2.25 0 0 0 2.25 -2.25 v -5 a 2.25 2.25 0 0 0 -2.25 -2.25 h -8.5 A 2.25 2.25 0 0 0 6.5 9.75 v 5 A 2.25 2.25 0 0 0 8.75 17 H 10 v 1.5 H 8.75 A 3.75 3.75 0 0 1 5 14.75 v -5 z");
}
[class*=vc-spotify-repeat] svg {
  width: 24px;
  height: 24px;
}
/* spotify previous button */
[class*=vc-spotify-previous] path {
  d:path("M 8.3 6 a 0.7 0.7 0 0 1 0.7 0.7 v 5.15 l 9.95 -5.744 a 0.7 0.7 0 0 1 1.05 0.606 v 12.575 a 0.7 0.7 0 0 1 -1.05 0.607 L 9 14.149 V 19.3 a 0.7 0.7 0 0 1 -0.7 0.7 H 6.7 a 0.7 0.7 0 0 1 -0.7 -0.7 V 6.7 a 0.7 0.7 0 0 1 0.7 -0.7 h 1.6 z");
}
/* spotify next button */
[class*=vc-spotify-next] path {
  d:path("M 17.7 6 a 0.7 0.7 0 0 0 -0.7 0.7 v 5.15 L 7.05 6.107 A 0.7 0.7 0 0 0 6 6.712 v 12.575 a 0.7 0.7 0 0 0 1.05 0.607 L 17 14.149 V 19.3 a 0.7 0.7 0 0 0 0.7 0.7 h 1.6 a 0.7 0.7 0 0 0 0.7 -0.7 V 6.7 a 0.7 0.7 0 0 0 -0.7 -0.7 h -1.6 z");
}
/*resize spotify progress bar*/
#vc-spotify-player [class^="bar_"] {
  height: 20%;
}
/* black (instead of transparent) bars in spotify logo in now playing section */
[class^=nowPlayingColumn_] [class^=spotifySection__] [class^=activitySectionAssets_] svg {
  background-color: black;
}
