/*
 * @name Consistent Chat Bar
 * @description make the chat bar align with the user panel
 * @author tom2k
*/
[class^=chat_] [class^=chatContent_] {
    /* move up jump to present bar when typing or slow mode so no overlap */
    &:has(> [class^=form_] > [class^=typing_]) > [class^=messagesWrapper_] > [class^=jumpToPresentBar_] {
        padding-bottom: 32px;
    }
    > [class^=messagesWrapper_] {
        /* new messages bar consistent dimensions */
        > [class^=newMessagesBar_] {
            border-radius: 0;
            left: 0;
            right: 0;
        }
        /* jump to present bar consistent dimensions */
        > [class^=jumpToPresentBar_] {
            border-radius: 0;
            opacity: 1;
            left: 0;
            right: 0;        
        }
    }
    > [class^=form_] {
        /* take up full width */
        padding: 0;
        &::before {
            display: none;
        }
        > [class^=channelBottomBarArea_] {
            background: var(--bg-overlay-3, var(--channeltextarea-background));
            > [class^=channelTextArea_] {
                margin-bottom: 0;
                /* reply bar */
                > [class^=attachedBars_] {
                    border-radius: 0;
                }
                > [class^=scrollableContainer_] {
                    border-radius: 0;
                    /* consistent height */
                    min-height: 53px;
                    > [class^=inner_] {
                        /* consistent height */
                        padding-top: 4px;
                        min-height: 49px;
                    }
                }
            }
        }
        /* slowmode/typing indicator consistent dimensions */
        [class^=typing_] {
            top: -24px;
            left: 0;
            right: 0;
            background: var(--bg-overlay-chat, var(--background-primary)) !important;
            /* move slowmode indicator back to default location */
            [class^=cooldownWrapper_] {
                margin-right: 16px;
            }
        }
        /* "Follow to get this channel's updates" */
        > [class^=wrapper_] {
            border-radius: 0;
            margin-bottom: 0;
            height: 21px;
        }
    }
}