/* interactive folders */
[class^=expandedFolderIconWrapper_] > svg {
	color: inherit !important;
}
[class*=FolderIconWrapper_] {
	color: var(--interactive-normal) !important;
}
[class*=FolderIconWrapper_]:hover {
	color: var(--interactive-active) !important;
	background-color: var(--background-modifier-selected);
}

/* interactive "add server" button */
[data-list-id=guildsnav] [data-list-item-id=guildsnav___create-join-button] {
	color: var(--interactive-normal);
}
[data-list-id=guildsnav] [data-list-item-id=guildsnav___create-join-button]:hover {
	color: var(--interactive-active);
	background-color: var(--background-modifier-selected);
}
