/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* compact DMs list */
[class^=privateChannels_] {
    [class^=searchBar_] {
        box-shadow: none;
    }
    ul {
        > [style="height: 8px;"] {
            display: none;
        }
        > h2 {
            padding-top: 4px;
            height: fit-content;
        }
    }
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* fix corners peeking out on nitro user panels */
[class^=userPanelOuter_] > [class^=userPanelInner_] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove border for user badges */
[class^=usernameRow_] + [class^=tags_] > [class^=container_] {
    border: none;
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* always neutral folder background */
[data-list-id=guildsnav] [class*=FolderIconWrapper_] {
    background-color: #313338 !important;
}
/* neutral "add a server"/"discover servers" button */
[data-list-id=guildsnav] [class^=circleIconButton_] {
    color: #848484 !important;
    background-color: #313338 !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove folder animation */
[data-list-id=guildsnav] [class*=FolderIconWrapper_] {
    transform: none !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove little shadow above channels column */
[class^=sidebar_] > [class^=container_] > [class^=container_][class*=clickable_] > [class^=header_] {
    box-shadow: none;
}
/* re-colour chat header to match channels column */
[class^=chat_] > [class^=subtitleContainer_] > [class^=title_] {
    background: var(--bg-overlay-chat, var(--background-secondary));
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* LIGHTER COLOUR */
/* friends list activity cards on hover */
[class^=nowPlayingColumn_] > aside > div > [class^=itemCard_]:hover,
/* lighter channel hover highlight */
#channels > ul > li a:hover,
/* highlight message container on hover */
[data-list-id=chat-messages] > li:hover {
  background-color: var(--background-modifier-selected) !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* lighter scrollbars */
:root {
 --scrollbar-auto-thumb: var(--background-modifier-selected);
 --scrollbar-auto-track: transparent;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* keep chat bars which are removed in nvhhr's bordercleanup */
[data-list-id=chat-messages] {
    /* unread bar */
    > #---new-messages-bar[class^=divider_][class*=isUnread_] {
    border-top: thin solid var(--divider-color) !important;
    justify-content: center !important;
    }
    /* day separator */
    > [class^=divider_][class*=hasContent_][aria-label] {
    border-top: thin solid var(--background-modifier-accent) !important;
    justify-content: center !important;
    }
}


/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* prevent clicking on official discord badges */
[class^=usernameRow_] + [class^=tags_] > [class^=container_] > [aria-label]:has([href*="discord.com"]:active) {
  pointer-events: none;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* compact polls by Faf4a/catpurrrchino */
[class^=chatContent_] [id^=message-accessories-] {
    [aria-label="Poll options"] {
        grid-template-columns: repeat(2, 1fr);
    }
    [class*=pollContainer_] [class^=answerInner_] {
        min-height: 0;
        width: 100% !important;
    }
} 

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* more condensed member list*/
[class^=members_] [class^=member_] > [class^=memberInner_] {
    padding: 0;
}

/* more condensed activity in friends tab */
#online-tab + [class^=nowPlayingColumn_] > aside > [class^=scroller_] {
    padding: 0 5px;
    margin: 0;
    border: none;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* make new pins & new notifs in inbox more noticeable */
[aria-label="Pinned Messages"]:has([class^=iconBadge_]) svg,
[aria-label="Inbox"]:has([class^=iconBadge_]) svg {
    color: var(--status-danger) !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* server list less padding */
nav:has(> [data-list-id=guildsnav]) {
    width: 64px;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* make code blocks' size dynamic (idea by callme_h) */
[class^=codeContainer_],
.shiki-container {
    width: fit-content;
    word-break: break-word;
    border-radius: 8px;
}

[class^=markup_] code {
    padding-right: 24px;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* make gif fav button invert colors */
[class*=gifFavoriteButton_]:not([class*=selected_]),
[class^=imageAccessory_]:has([class*=gifFavoriteButton_]:not([class*=selected_])) {
    mix-blend-mode: difference;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* remove newly added emojis highlight */
#emoji-picker-tab-panel [class^=newlyAddedHighlight] {
    border: none;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* shorten some dividers in channel column */
#channels {
    --custom-category-channel-space-before-category: 0;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* smaller member count */
.vc-membercount-member-list {
    margin-top: 0 !important;
    margin-bottom: -1.25em !important;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* bigger stream preview */
[class^=streamPreviewWrapper_] > [class*=streamPreview_]:not([class*=content_]) {
    width: 504px;
}

[class*=previewContainer_] {
    height: 284px;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* Bigger Reactions */
[data-list-id=chat-messages] [id^=message-reactions] [class^=reaction_] .emoji {
    zoom: 150%;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* rounder radius in mentions */
.mention {
    border-radius: 5px;
}
