/*
 * @name Status In Chat
 * @author tom2k
 * @description Add a status indicator icon next to usernames in chat. REQUIRES: Vencord's PlatformIndicators plugin
*/
.vc-platform-indicator {
    > svg {
        display: none;
    }
    /* online */
    &:has(> [fill="#23a55a"])::after {
        content: "";
        background-image: url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/Snippets/Images/online_12px.png") !important;
        position: relative;
        display: inline-flex;
        height: 12px;
        width: 12px;
        top: 3.5px;
    }
    /* idle */
    &:has(> [fill="#f0b232"])::after {
        content: "";
        background-image: url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/Snippets/Images/idle_12px.png") !important;
        position: relative;
        display: inline-flex;
        height: 12px;
        width: 12px;
        top: 3.5px;
    }
    /* dnd */
    &:has(> [fill="#f23f43"])::after {
        content: "";
        background-image: url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/Snippets/Images/dnd_12px.png") !important;
        position: relative;
        display: inline-flex;
        height: 12px;
        width: 12px;
        top: 3.5px;
    }
    /* offline */
    [id^=chat-messages] [id^=message-username]:not(:has(> &))::after {
        content: "";
        background-image: url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/Snippets/Images/offline_12px.png") !important;
        position: relative;
        display: inline-flex;
        height: 12px;
        width: 12px;
        margin-left: 4px;
        top: 1.5px;
    }
}