/*
 * @name Status In Chat
 * @author tom2k
 * @description Add a status indicator icon next to usernames in chat. REQUIRES: Vencord's PlatformIndicators plugin
*/
/* desktop & web */
path:is([d^="M4 2.5c-1.103 0-2 .897-2 2v11c0 1.104.897 2"],[d^="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48"]) {
    /* online */
    .vc-platform-indicator > svg[fill="#23a55a"] > & {
        d: path("M3 11a.8.8 90 0 0 16 0 .8.8 90 0 0-16 0");
    }
    /* dnd */
    .vc-platform-indicator > svg[fill="#f23f43"] > & {
        fill-rule: evenodd;
        d: path("M10.495 3.008q3.853-.157 6.472 2.64 2.384 2.747 1.984 6.384-.51 3.457-3.304 5.512-2.922 1.993-6.4 1.28-3.385-.829-5.176-3.8-1.523-2.72-.88-5.776.829-3.385 3.8-5.176 1.632-.93 3.504-1.064m-3.52 6q4.032-.004 8.064.008 1.249.106 1.768 1.24.431 1.219-.44 2.168-.557.53-1.328.576-4.032.016-8.064 0-1.455-.143-1.864-1.544-.239-1.334.856-2.12.467-.287 1.008-.328");
    }
    /* idle */
    .vc-platform-indicator > svg[fill="#f0b232"] > & {
        d: path("M11.496 3q3.793.322 6.04 3.36 1.956 2.862 1.304 6.28-.745 3.316-3.584 5.152-2.802 1.694-6.016 1.024-3.385-.829-5.176-3.8-.933-1.638-1.064-3.52.927.844 2.112 1.288 2.392.804 4.672-.272 2.387-1.243 3.144-3.832.753-3.221-1.432-5.68");
    }
}
/* mobile */
path[d^="M 187 0 L 813 0 C 916.277 0 1000 83.723 1000 187 L"] {
    /* online */
    .vc-platform-indicator > svg[fill="#23a55a"] > & {
        d: path("M-168.032 673.112a58.811 58.811 90 0 0 1176.224 0 58.811 58.811 90 0 0-1176.224 0");
    }
    /* dnd */
    .vc-platform-indicator > svg[fill="#f23f43"] > & {
        fill-rule: evenodd;
        d: path("M382.926 85.618Q666.234 74.032 858.71 279.694c116.858 134.59 165.48 291.028 145.851 469.314-24.95 169.39-105.918 304.457-242.89 405.209-143.213 97.648-300.04 129.01-470.49 94.097Q42.337 1187.373-89.326 968.961-201.238 768.99-154.02 544.345-93.077 295.5 125.333 163.836q120.019-68.375 257.593-78.219M124.157 526.701q296.408-.294 592.817.588 91.818 7.779 129.972 91.158 31.722 89.584-32.346 159.378-40.904 38.97-97.626 42.344-296.408 1.176-592.817 0-106.963-10.52-137.03-113.506-17.504-98.104 62.928-155.85 34.33-21.15 74.102-24.112");
    }
    /* idle */
    .vc-platform-indicator > svg[fill="#f0b232"] > & {
        d: path("M456.543 85q278.81 23.657 444.024 247.007c95.884 140.257 127.834 294.151 95.862 461.668q-54.745 243.794-263.474 378.744c-137.353 83.004-284.778 108.11-442.26 75.278Q41.851 1186.753-89.813 968.344q-68.618-120.394-78.219-258.77 68.17 62.061 155.261 94.687 175.816 59.083 343.458-19.996 175.463-91.393 231.128-281.706Q617.148 265.764 456.543 85");
    }
}
/* console */
path[d^="M14.8 2.7 9 3.1V47h3.3c1.7 0 6.2.3 10 .7l6.7.6V2l-4.2"] {
    /* online */
    .vc-platform-indicator > svg[fill="#23a55a"] > & {
        d: path("M 2.2222 22.8889 a 1.6667 1.6667 90 0 0 33.3333 0 a 1.6667 1.6667 90 0 0 -33.3333 0");
    }
    /* dnd */
    .vc-platform-indicator > svg[fill="#f23f43"] > & {
        fill-rule: evenodd;
        d: path("M17.836 6.24q8.028-.329 13.483 5.5 4.968 5.722 4.134 13.3-1.06 7.2-6.883 11.483-6.09 4.151-13.334 2.667-7.052-1.728-10.783-7.917-3.171-5.667-1.834-12.033 1.728-7.052 7.917-10.784 3.401-1.937 7.3-2.216m-7.333 12.5q8.4-.009 16.8.016 2.602.221 3.683 2.584.9 2.539-.916 4.516-1.16 1.105-2.767 1.2-8.4.034-16.8 0-3.032-.297-3.884-3.216-.496-2.78 1.784-4.417.973-.6 2.1-.683");
    }
    /* idle */
    .vc-platform-indicator > svg[fill="#f0b232"] > & {
        d: path("M19.922 6.222q7.902.67 12.584 7 4.075 5.963 2.716 13.084-1.55 6.909-7.467 10.733-5.839 3.528-12.533 2.133-7.052-1.727-10.784-7.916-1.944-3.412-2.216-7.334 1.932 1.759 4.4 2.684 4.982 1.674 9.733-.568 4.973-2.59 6.55-7.983 1.568-6.71-2.983-11.833");
    }
}
.vc-platform-indicator {
    /* only show 1st icon */
    > [aria-label] ~ [aria-label] {
        display: none;
    }
    /* offline */
    [id^=chat-messages] [id^=message-username]:not(:has(> &))::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 24 24' fill='%2380848e'%3E%3Cpath style='fill-rule:evenodd' d='M10.686 7.01q2.514-.077 3.816 2.048 1.008 1.952 0 3.904-1.29 2.115-3.784 2.04-2.121-.218-3.208-2.04-.912-1.757-.16-3.584 1.026-2.085 3.336-2.368m-.192-4q3.357-.154 5.872 2.04Q19.168 7.669 19 11.522q-.325 3.782-3.354 6.024-2.92 1.992-6.4 1.28-3.385-.83-5.174-3.8-1.522-2.72-.88-5.776.827-3.384 3.798-5.176 1.634-.928 3.504-1.064'/%3E%3C/svg%3E");
        position: relative;
        display: inline-flex;
        height: 20px;
        width: 20px;
        margin-left: 4px;
        top: 5px;
    }
}
/* remove awkward gap between status icon and timestamp */
[id^=chat-messages] h3 [class^=timestamp_] {
    margin-left: 0;
}